<header>
  <!-- Modals -->
  <div class="modal fade" id="{{searchModalId}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="search-wrapper">
            <input [(ngModel)]="searchQuery" class="left" placeholder="Search for duels, users and more" (keyup.enter)="makeSearch()"
            />
            <button class="right" (click)="makeSearch()">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.74273 17.0498C7.79175 17.0498 5.95646 16.2898 4.57665 14.91C3.19562 13.5302 2.43568 11.6949 2.43568 9.74273C2.43568 7.79175 3.19562 5.95646 4.57665 4.57665C5.95646 3.19562 7.79175 2.43568 9.74273 2.43568C11.6937 2.43568 13.529 3.19562 14.9088 4.57665C16.2898 5.95646 17.0498 7.79175 17.0498 9.74273C17.0498 11.6949 16.2898 13.5302 14.9088 14.91C13.529 16.2898 11.6937 17.0498 9.74273 17.0498ZM24 22.278L17.4334 15.7102C18.7584 14.01 19.4855 11.9336 19.4855 9.74273C19.4855 7.1402 18.471 4.69356 16.6308 2.85462C14.7919 1.01324 12.3453 0 9.74273 0C7.1402 0 4.69356 1.01324 2.85462 2.85462C1.01446 4.69356 0 7.1402 0 9.74273C0 12.3453 1.01446 14.7919 2.85462 16.6308C4.69356 18.4722 7.1402 19.4855 9.74273 19.4855C11.9336 19.4855 14.01 18.7596 15.7102 17.4322L22.278 24L24 22.278Z"
                  fill="#D8E2E9" />
              </svg>
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modals -->
  <div class="container">
    <app-login *ngIf="authService.getCurrentUser() === null"></app-login>
    <div class="logo-header">
      <div class="left clickable" routerLink="/">
        <img class="logo" src="../../../assets/img/header/main-logo.svg">
        <img class="beta-label" src="../../../assets/img/header/beta-label.svg">
      </div>
      <div class="right">
        <div class="menu-panel" *ngIf="authService.getCurrentUser() !== null">
          <button class="search-icon" (click)="openSearchModal()"></button>
          <a id="{{notificationsBlockId}}" class="menu-wrapper notifications-block">
            <a class="notification-indicator" [class.new-notification]="notificationService.headerNotificationsAmount > 0" routerLink="/notifications">{{notificationService.headerNotificationsAmount}}</a>
            <span *ngIf="notificationService.headerNotifications.length > 0" class="menu">
              <div class="notification-container" [class.new-notification]="notification.isNewNotification" *ngFor="let notification of notificationService.headerNotifications">
                <div>
                  <div>
                    <div class="image-block inline">
                      <div class="is-new-block">
                        <div [class.hidden]="!notification.isNewNotification"></div>
                      </div>
                      <app-profile-picture class="avatar" elementClass="x-small" userId={{notification.userId}} fullname={{notification.fullname}}
                        backgroundImage={{notification.imageUrl}} backgroundColor={{notification.imageColor}}>
                      </app-profile-picture>
                    </div>
                    <div class="notification-text-block inline">
                      <p class="notification-text {{notificationService.notificationIcons[notification.type]}}" [innerHTML]="notification.text | safeHtml"></p>
                      <div class="timestamp-block">
                        <p class="small">{{dateFormatter.toRelativeFormat(notification.timestamp)}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="all">
                <span routerLink="/notifications">See all notifications</span>
              </div>
            </span>
          </a>
          <a class="menu-wrapper">
            <app-profile-picture (click)="goToPerson()" elementClass="x-small" fullname={{authService.getCurrentUser().fullname}} userId={{authService.getCurrentUser().id}}
              backgroundImage={{authService.getCurrentUser().imageUrl}} backgroundColor={{authService.getCurrentUser().imageColor}}>
            </app-profile-picture>
            <span class="menu">
              <a class="start-duel" routerLink="/start">
                <h3>Start a Duel</h3>
                <p>{{getDuelsLeft()}} duels left this week</p>
              </a>
              <a class="settings" routerLink="/settings">
                <h3>Account Settings</h3>
                <p>Change account info</p>
              </a>
              <a *ngIf="!authService.getCurrentUser().isPaidAccount" class="silver" routerLink="/silver">
                <h3>Get Duelity Silver</h3>
                <p>Unleash new features</p>
              </a>
              <div class="delimiter"></div>
              <a class="sign-out" (click)="logout()">
                <h3>Sign Out</h3>
              </a>
            </span>
          </a>
        </div>
        <div *ngIf="authService.getCurrentUser() === null">
          <button class="search-icon" (click)="openSearchModal()"></button>
          <a class="button secondary-button" (click)="registerService.goToRegister()">
            <span>Create Account</span>
          </a>
          <a class="button primary-button" (click)="loginService.openModal()">
            <span>Sign In</span>
          </a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <nav *ngIf="authService.getCurrentUser() !== null">
      <a routerLink="/following" routerLinkActive="active">Following</a>
      <a routerLink="/popular" routerLinkActive="active">Popular</a>
      <a routerLink="/featured" routerLinkActive="active">Featured</a>
      <a routerLink="/new" routerLinkActive="active">New</a>
      <a routerLink="/myduels" routerLinkActive="active">My Duels</a>
    </nav>
    <nav *ngIf="authService.getCurrentUser() === null">
      <a routerLink="/popular" routerLinkActive="active">Popular</a>
      <a routerLink="/featured" routerLinkActive="active">Featured</a>
      <a routerLink="/new" routerLinkActive="active">New</a>
    </nav>
  </div>
</header>