.logo-header {
    margin-top: 50px;
    height: 50px;
}

.logo-header > div {
    display: inline-block;
}

.logo-header > div:first-child {
    opacity: 1;
    transition: all .3s ease-in-out;
    position: relative;
    top: 5px;
}

.logo-header > div:first-child:hover {
    opacity: 0.8;
    transition: all .3s ease-in-out;
}

.logo-header > div:first-child img {
    vertical-align: top;
}

.logo-header .beta-label {
    position: relative;
    top: 4px;
}

.logo-header .menu-panel > a {
    display: inline-block;
    margin-left: 13px;
}

.logo-header .menu-panel .notification-indicator {
    height: 25px;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0px 4px 14px rgba(165, 180, 209, 0.3);
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgb(93, 93, 93, 0.5);
    line-height: 25px;
    padding-top: 1px;
    padding-left: 9px;
    padding-right: 9px;
}

.logo-header .menu-panel .notification-indicator.new-notification {
    color: #F55045;
}

.logo-header .menu-panel .notification-indicator:hover,
.logo-header .menu-panel .notification-indicator:focus {
    text-decoration: none;
}

.search-icon {
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../../assets/img/header/search-icon.svg");
    position: relative;
    left: 8px;
    opacity: .5;
    transition: all .2s ease-in-out;
    margin-right: 7px;
}

.search-icon:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.logo-header .button {
    margin-left: 20px;
}

nav {
    margin-top: 55px;
}

nav a {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #262626;
    opacity: 0.6;
    text-decoration: none;
    letter-spacing: -0.2px;
    margin-right: 50px;
    transition: all .2s ease-in-out;
}

nav a:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

nav a.active {
    color: #F55045;
    opacity: 1;
}


.menu-wrapper.notifications-block .menu {
    padding-top: 0;
    padding-bottom: 13px;
}

.menu-wrapper .menu {
    left: -131px;
    margin-top: 10px;
    width: 243px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-wrapper .menu::after {
    left: 210px;
}

.menu-wrapper .menu > a {
    display: block;
    margin: 0 auto;
    padding-left: 53px;
    padding-top: 13px;
    padding-bottom: 5px;
}

.menu-wrapper .menu > a:last-child {
    padding-bottom: 12px;
    margin-top: -5px;
}

.menu-wrapper .menu > a:hover {
    text-decoration: none;
    background-color: rgb(216, 226, 233, .4);
}

.menu-wrapper .menu h3 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
}

.menu-wrapper .menu p {
    font-size: 12px;
    color: #5D5D5D;
    margin-bottom: 0;
}

.menu-wrapper .menu .start-duel {
    background: url("../../../assets/img/header/start-duel-icon.svg") 24px 11px no-repeat;
}

.menu-wrapper .menu .settings {
    background: url("../../../assets/img/header/settings-icon.svg") 24px 13px no-repeat;
}

.menu-wrapper .menu .silver {
    background: url("../../../assets/img/header/silver-icon.svg") 24px 13px no-repeat;
}

.menu-wrapper .menu .sign-out {
    background: url("../../../assets/img/header/sign-out-icon.svg") 24px 13px no-repeat;
}

.menu-wrapper .menu .delimiter {
    height: 1px;
    background-color: #D8E2E9;
    width: 188px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.modal .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal .modal-content {
    border: 0;
}

.modal.show .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
    opacity: 1;
    border: 0;
}

#searchModal .search-wrapper {
    width: 1200px;
    border: 1px solid #D8E2E9;
}

#searchModal input {
    height: 80px;
    width: 1100px;
    padding-left: 40px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    outline: 0;
    border: 0;
}

#searchModal input:focus,
#searchModal input:hover {
    outline: 0;
}

#searchModal input::placeholder {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #C1C7CB;
}
  
#searchModal input::-ms-input-placeholder {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #C1C7CB;
}
  
#searchModal input:-ms-input-placeholder {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #C1C7CB;
}

#searchModal button {
    width: 90px;
    height: 79px;
    background-color: #fff;
}

#searchModal button path {
    transition: all .1s ease-in-out;
}

#searchModal button:hover path {
    fill: #5D5D5D;
    transition: all .1s ease-in-out;
}

.modal-dialog {
    max-width: 1200px !important;
    margin-top: 160px;
    margin-left: 15px;
}

.modal:before {
    content: none;
}

.notifications-block .menu {
    width: 400px;
    left: -305px;
}

.notifications-block .inline {
    vertical-align: top;
}

.notifications-block .all {
    text-align: center;
    margin-top: 8px;
}

.notifications-block .all span {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
    border: 0;
    outline: 0;
}

.notifications-block .all span:hover,
.notifications-block .all span:focus {
    border: 0;
    outline: 0;
}

.notification-container {
    margin: 0 auto;
    border-bottom: 1px solid #ecf1f4;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

.notification-container .timestamp-block {
    margin-top: -18px;
}

.notification-container .timestamp-block p.small {
    opacity: 0.5; 
}

.logo-header .menu-panel .notifications-block .menu::after {
    left: 380px;
}

.notification-container .notification-text-block p.created-duel {
    background: url("../../../assets/img/notifications/created-duel-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.accepted-duel {
    background: url("../../../assets/img/notifications/accepted-duel-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.declined-duel {
    background: url("../../../assets/img/notifications/declined-duel-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.uploaded-work {
    background: url("../../../assets/img/notifications/uploaded-work-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.new-vote {
    background: url("../../../assets/img/notifications/new-vote-icon.svg") 0% 15px no-repeat;
}

.notification-container .notification-text-block p.won-duel {
    background: url("../../../assets/img/notifications/won-duel-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.lost-duel {
    background: url("../../../assets/img/notifications/lost-duel-icon.svg") 0% 9px no-repeat;
}

.notification-container .notification-text-block p.draw-duel {
    background: url("../../../assets/img/notifications/draw-duel-icon.svg") 0% 15px no-repeat;
}

.notification-container .notification-text-block p.new-follow {
    background: url("../../../assets/img/notifications/new-follow-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.featured-duel {
    background: url("../../../assets/img/notifications/featured-duel-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.popular-duel {
    background: url("../../../assets/img/notifications/popular-duel-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.ended-subscription {
    background: url("../../../assets/img/notifications/ended-subscription-icon.svg") 0% 8px no-repeat;
}

.notification-container .notification-text-block p.started-voting {
    background: url("../../../assets/img/notifications/started-voting-icon.svg") 0% 15px no-repeat;
}

.notification-container .notification-text-block p {
    padding-left: 28px;
    margin-left: 5px;
    margin-top: 5px;
}

.notification-container .notification-text-block .notification-text {
    padding-bottom: 15px;
    width: 305px;
}

.notification-container .is-new-block {
    position: relative;
    top: 22px;
    right: 11px; 
}

.notification-container .is-new-block > div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #F55045;
    opacity: 1;
}

.notification-container .is-new-block > div.hidden {
    opacity: 0;
}

.notification-container.new-notification {
    background-color: #fffef4;
}