<div *ngIf="isDataInitialized">
  <div><span>{{socketService.onlineUsers.length}}</span> online users</div>
  <hr>
  <div><span>{{socketService.duelsAmount}}</span> duels</div>
  <hr>
  <div><span>{{socketService.paidAccountsAmount}} </span><span class="percentage">({{getSubscriptionPercentage()}}%)</span> active subscriptions</div>
  <hr>
  <div><span>{{socketService.usersAmount}}</span> accounts</div>  
</div>