#account-settings {
    padding-bottom: 100px;
}

.settings-wrapper {
    margin-top: 80px;
}

.input-wrapper {
    margin-bottom: 10px;
}

.menu {
    vertical-align: top;
    display: inline-block;
    margin-right: 120px;
}

.content {
    vertical-align: top;
    display: inline-block;
}

.content h1 {
    margin-bottom: 30px;
}

.menu div {
    width: 182px;
    height: 50px;
    transition: all .2s ease-in-out;
    padding-left: 20px;
    margin-bottom: 3px;
}

.menu div h3 {
    line-height: 50px;
}

.menu div:hover,
.menu div.selected {
    background-color: #feedec;
    transition: all .2s ease-in-out;
}

.menu div:hover h3,
.menu div.selected h3 {
    color: #F55045 !important;
    transition: all .2s ease-in-out;
}

.general-wrapper {
    width: 590px;
}

.content h2 {
    margin-top: 60px;
    margin-bottom: 37px;
}

.primary-button {
    margin-top: 35px;
}

.social-profiles-block .custom-input-wrapper {
    width: 285px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    height: 50px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    color: #5D5D5D !important; 
    border: 2px solid #FFE226;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: -0.2px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.inputfile + label:hover {
    background: rgba(255, 226, 38, 0.3);
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.avatar-block .right {
    margin-top: 14px;
    margin-right: 75px;
}

.avatar {
    margin-right: 20px;
}

.file-upload-block {
    position: relative;
    top: 15px;
}

.file-upload-block p {
    opacity: .5;
    width: 180px;
    text-align: center;
}

.delete-picture-block {
    position: relative;
    top: -30px;
    margin-left: 40px;
}

.delete-picture-block a {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F55045;
    position: relative;
    top: 1px;
    left: 5px;
    transition: all .2s ease-in-out;
}

.delete-picture-block:hover a {
    color: #A04437;
    transition: all .2s ease-in-out;
}

.delete-picture-block svg path {
    transition: all .2s ease-in-out;
}

.delete-picture-block:hover svg path {
    fill: #A04437;
    transition: all .2s ease-in-out;
}

.custom-input-wrapper .input-container {
    border: 1px solid #C1C7CB;
    height: 60px;
    font-family: Menoe Grotesque Pro;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    transition: all .3s ease-in-out;
}

.custom-input-wrapper .input-container.error {
    border: 1px solid #F55045;
    transition: all .3s ease-in-out;
}

.custom-input-wrapper span {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    position: relative;
    top: -11px;
    background-color: #fff;
    pointer-events: none;
}

.custom-input-wrapper p.error {
    min-height: 18px;
    padding-left: 30px;
}

.custom-input-wrapper .input-block {
    margin-top: -4px;
    padding-left: 30px;
}

.custom-input-wrapper .input-block input {
    border: 0;
    outline: 0;
    width: 93%;
    display: inline-block;
    margin-left: -7px;
}

.custom-input-wrapper input::-webkit-input-placeholder {
    color: #C1C7CB;
}

.custom-input-wrapper input::-moz-placeholder {
    color: #C1C7CB;
}
  
.custom-input-wrapper input:-ms-input-placeholder {
    color: #C1C7CB;
}
  
.custom-input-wrapper input:-moz-placeholder {
    color: #C1C7CB;
}

.social-profiles-block .custom-input-wrapper input {
    margin-left: -8px;
}

.social-profiles-block .custom-input-wrapper.behance input {
    width: 68%;
}

.social-profiles-block .custom-input-wrapper.dribbble input {
    width: 48%;
}

.social-profiles-block .custom-input-wrapper.twitter input {
    width: 51%;
}

.social-profiles-block .custom-input-wrapper.instagram input {
    width: 45%;
}

.modal .modal-body {
    padding: 40px;
}

.modal h2 {
    margin-top: -10px;
}

.modal button.close {
    position: relative;
    right: -80px;
    top: -37px;
    font-size: 27px;
    opacity: .6;
}

.modal button.close:hover {
    opacity: 1;
}

.modal p {
    margin-top: 7px;
    margin-bottom: 30px;
    width: 335px;
}

.modal .button-block {
    margin-top: -35px;
}

#changeEmailModal .modal-dialog {
    width: 580px;
    max-width: 580px;
}

#notSavedModal .modal-dialog {
    width: 590px;
    max-width: 590px;
}

.modal .button-block a:first-child {
    margin-right: 18px;
}

#notSavedModal .button-block a {
    width: 120px;
    padding-left: 0;
    padding-right: 0;
}

#categories {
    max-width: 700px;
    margin:0 auto;
}

#categories p.main-paragraph {
    max-width: 692px;
    margin-top: 15px;
    margin-bottom: 40px;
}

#categories h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

#categories .category-block > p { 
    line-height: 29px;
}

#categories .categories-container {
    max-width: 520px;
}
 
.category-block {
    height: 30px;
    border: 1px solid #D8E2E9;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    color: #5D5D5D !important;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all .1s ease-in-out;
}

.category-block:hover {
    border: 1px solid rgba(245, 80, 69, 0.4);
    transition: all .1s ease-in-out;
}

.category-block.selected {
    background: #feedec;
    border: 1px solid #feedec;
}

#categories .category-block > p {
    transition: all .1s ease-in-out;
}

#categories .category-block:hover > p,
#categories .category-block.selected > p { 
    color: #F55045 !important;
    transition: all .1s ease-in-out;
}

#categories .button {
    margin-top: -10px;
}

#notifications .notification-wrapper {
    max-width: 800px;
}

#notifications .heading-paragraph {
    margin-top: -20px;
    margin-bottom: 40px;
}

#notifications .divider {
    width: 520px;
    height: 1px;
    background-color: #DCDCDC;
    opacity: 0.5;
    margin-top: 18px;
    margin-bottom: 22px;
}

#notifications h3 {
    display: inline-block;
    margin-left: 5px;
}

#notifications .switch + h3 + p {
    margin-top: 5px;
}

#billing .heading-paragraph {
    margin-top: -5px;
    margin-bottom: 5px;
}

#billing .payment-block {
    border: 1px solid #D8E2E9;
    width: 590px;
    height: 205px;
    margin-top: 25px;
}

#billing .payment-block .payment-block-border {
    background-color: #F55045;
    height: 6px;
    width: 590px;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: 20px;
}

#billing .payment-block .payment-block-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}

#billing .payment-block label {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #262626;
}

#billing .payment-block .silver-label {
    position: relative;
    top: 3px;
    left: 5px;
}

#billing .payment-block h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

#billing .payment-block .divider {
    width: 100%;
    height: 1px;
    background-color: #DCDCDC;
    margin-top: 25px;
    margin-bottom: 35px;
}

#billing .payment-block button{
    border: 0;
    outline: 0;
    background: url("../../../assets/img/settings/cancel-subscription-icon.svg") 0% 50% no-repeat;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F55045;
    padding-left: 28px;
    height: 20px;
}

#billing .payment-block button:hover,
#billing .payment-block button:focus {
    border: 0;
    outline: 0;
}

#billing .history-container {
    width: 520px;
}

#billing .history-container .divider {
    height: 1px;
    background-color: #DCDCDC;
    opacity: 0.5;
    margin-top: 15px;
}

#billing .history-block {
    margin-top: 30px;
}

#billing .history-block span {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #262626;
}