<div id="account-settings">
  <!-- Change email modal -->
  <div class="modal fade" id="{{emailModalId}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Changing Email</h2>
          <p>You need to enter your account password so we know it's you changing the email</p>
          <div class="input-wrapper">
            <app-input (onValueChange)="onEmailVerificationPasswordChange($event)" [value]="emailVerificationPassword" [placeholder]="'Account password'"
              [type]="inputType.Password" [error]="emailVerificationPasswordErrorMessage"></app-input>
          </div>
          <div class="button-block">
            <a class="button secondary-button" (click)="closeEmailModal()">
              <span>Cancel</span>
            </a>
            <a class="button primary-button" (click)="checkPassword()">
              <span>It's Actually Me</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Change email modal -->
  <!-- Not saved modal -->
  <div class="modal fade" id="{{notSavedModalId}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>You Have Unsaved Changes</h2>
          <p>Are you sure you want to exit without saving?</p>
          <div class="button-block">
            <a class="button secondary-button" (click)="notSavedModalChoose(false)">
              <span>No, Cancel</span>
            </a>
            <a class="button primary-button" (click)="notSavedModalChoose(true)">
              <span>Yes, Exit</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Not saved modal -->
  <!-- Page -->
  <div class="settings-wrapper">
    <div class="menu">
      <div [class.selected]="settingsType === settingsTypes.General">
        <a (click)="changeSettingsTypes(settingsTypes.General)">
          <h3>General</h3>
        </a>
      </div>
      <div [class.selected]="settingsType === settingsTypes.DuelCategories">
        <a (click)="changeSettingsTypes(settingsTypes.DuelCategories)">
          <h3>Duel Categories</h3>
        </a>
      </div>
      <div [class.selected]="settingsType === settingsTypes.Notifications">
        <a (click)="changeSettingsTypes(settingsTypes.Notifications)">
          <h3>Notifications</h3>
        </a>
      </div>
      <div [class.selected]="settingsType === settingsTypes.Billing">
        <a (click)="changeSettingsTypes(settingsTypes.Billing)">
          <h3>Duelity Silver</h3>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="general-wrapper" *ngIf="settingsType === settingsTypes.General && accountSettings !== undefined && accountSettings !== null">
        <h1>General settings</h1>
        <div>
          <div class="avatar-block">
            <div class="left">
              <div class="avatar">
                <app-profile-picture elementClass="large" fullname={{accountSettings.fullname}} backgroundImage={{accountSettings.imageUrl}}
                  backgroundColor={{accountSettings.imageColor}}>
                </app-profile-picture>
              </div>
            </div>
            <div class="right">
              <div class="inline file-upload-block">
                <div>
                  <input type="file" name="file" id="file" class="inputfile" (change)="onAvatarUpload($event)" />
                  <label for="file">Upload New Picture</label>
                </div>
                <p>JPG or PNG, 5MB Max</p>
              </div>
              <div class="inline delete-picture-block clickable" (click)="onDeletePicture()">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 7H14L14.001 17H4V7ZM2 17C2 18.103 2.897 19 4 19H14C15.103 19 16 18.103 16 17V5H2V17Z"
                    fill="#F55045" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2V0H6V2H0V4H18V2H12Z" fill="#F55045" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 15H8V9H6V15Z" fill="#F55045" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 15H12V9H10V15Z" fill="#F55045" />
                </svg>
                <a>Delete picture</a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div style="height: 20px;" class="clearfix"></div>
          <div>
            <h2>Info</h2>
          </div>
          <div class="input-wrapper">
            <app-input (onValueChange)="onFullNameChange($event)" [value]="accountSettings.fullname" [placeholder]="'Full Name'" [type]="inputType.Text"
              [error]="nameErrorMessage"></app-input>
          </div>
          <div class="input-wrapper">
            <app-input (onValueChange)="onDescriptionChange($event)" [value]="accountSettings.description" [placeholder]="'Description'"
              [type]="inputType.Text" [error]="descriptionErrorMessage"></app-input>
          </div>
          <div class="custom-input-wrapper">
            <div class="input-container" [class.error]="usernameErrorMessage !== null && usernameErrorMessage !== undefined && usernameErrorMessage !== ''">
              <span>Username</span>
              <div class="input-block">
                <label>@</label>
                <input [(ngModel)]="accountSettings.username" type="text" placeholder="username" />
              </div>
            </div>
            <p class="error">{{usernameErrorMessage}}</p>
          </div>
          <div class="input-wrapper">
            <app-input (onValueChange)="onEmailChange($event)" [value]="accountSettings.email" [placeholder]="'Email'" [type]="inputType.Text"
              [error]="emailErrorMessage"></app-input>
          </div>
        </div>
        <div class="social-profiles-block">
          <h2>Social Profiles</h2>
          <div class="custom-input-wrapper behance left">
            <div class="input-container" [class.error]="behanceErrorMessage !== null && behanceErrorMessage !== undefined && behanceErrorMessage !== ''">
              <span>Behance</span>
              <div class="input-block">
                <label>be.net/</label>
                <input [(ngModel)]="accountSettings.behance" type="text" placeholder="username" />
              </div>
            </div>
            <p class="error">{{behanceErrorMessage}}</p>
          </div>
          <div class="custom-input-wrapper dribbble right">
            <div class="input-container" [class.error]="dribbbleErrorMessage !== null && dribbbleErrorMessage !== undefined && dribbbleErrorMessage !== ''">
              <span>Dribbble</span>
              <div class="input-block">
                <label>dribbble.com/</label>
                <input [(ngModel)]="accountSettings.dribbble" type="text" placeholder="username" />
              </div>
            </div>
            <p class="error">{{dribbbleErrorMessage}}</p>
          </div>
          <div class="clearfix"></div>
          <div class="custom-input-wrapper twitter left">
            <div class="input-container" [class.error]="twitterErrorMessage !== null && twitterErrorMessage !== undefined && twitterErrorMessage !== ''">
              <span>Twitter</span>
              <div class="input-block">
                <label>twitter.com/</label>
                <input [(ngModel)]="accountSettings.twitter" type="text" placeholder="username" />
              </div>
            </div>
            <p class="error">{{twitterErrorMessage}}</p>
          </div>
          <div class="custom-input-wrapper instagram right">
            <div class="input-container" [class.error]="instagramErrorMessage !== null && instagramErrorMessage !== undefined && instagramErrorMessage !== ''">
              <span>Instagram</span>
              <div class="input-block">
                <label>instagram.com/</label>
                <input [(ngModel)]="accountSettings.instagram" type="text" placeholder="username" />
              </div>
            </div>
            <p class="error">{{instagramErrorMessage}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div>
          <h2>Password</h2>
          <div class="input-wrapper">
            <app-input (onValueChange)="onOldPasswordChange($event)" [value]="accountSettings.oldPassword" [placeholder]="'Old Password'"
              [type]="inputType.Password" [error]="oldPasswordErrorMessage"></app-input>
          </div>
          <div class="input-wrapper">
            <app-input (onValueChange)="onNewPasswordChange($event)" [value]="accountSettings.newPassword" [placeholder]="'New Password'"
              [type]="inputType.Password" [error]="newPasswordErrorMessage"></app-input>
          </div>
        </div>
        <div>
          <a class="button primary-button" (click)="onSaveSettings()">
            <span>Save Changes</span>
          </a>
        </div>
      </div>
      <div *ngIf="settingsType === settingsTypes.DuelCategories" id="categories">
        <h1>Duel Categories Settings</h1>
        <p class="main-paragraph">You will only be able to duel with people who have a category in common with you. One duel — one category, choose
          as much as you feel comfortable dealing with</p>
        <div class="categories-container">
          <div *ngFor="let categoryGroup of categories">
            <h3>{{categoryGroup[0].group}}</h3>
            <div *ngFor="let category of categoryGroup" class="category-block" [class.selected]="category.selected" (click)="categoryService.pickCategory(category)">
              <p>{{category.name}}</p>
            </div>
          </div>
        </div>
        <br>
        <br>
        <a class="button primary-button" [class.disabled]="!validateCategories()" (click)="onSaveCategories()">
          <span>Save Changes</span>
        </a>
      </div>
      <div *ngIf="settingsType === settingsTypes.Notifications" id="notifications">
        <div class="notification-wrapper">
          <h1>Notification Settings</h1>
          <p class="heading-paragraph">All of the notification below are delivered to
            <span>
              <a href="mailto:{{accountSettings.email}}">{{accountSettings.email}}</a>
            </span>
          </p>
          <div>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            <h3>New duel for you</h3>
            <p>We’ll drop you a message if someone starts a duel with you. Remember, you only have 24 hours to accept it</p>
          </div>
          <div class="divider"></div>
          <div>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            <h3>Acception/rejection of your duel</h3>
            <p>When someone you started a duel with makes their decision, we’ll notify you</p>
          </div>
          <div class="divider"></div>
          <div>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            <h3>Duel results</h3>
            <p>Just as your duel ends you will receive the news. Bad or good, depends on your skill</p>
          </div>
          <div class="divider"></div>
          <div>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            <h3>Monthly digest</h3>
            <p>We handpick the most crazy tasks & the highest quality works and deliver them straight to your inbox. This is
              email exclusive
            </p>
          </div>
          <div class="divider"></div>
          <div>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
            <h3>Duelity news</h3>
            <p>Want to know about updates and new releases first? Then this is for you</p>
          </div>
          <a class="button primary-button">
            <span>Save Changes</span>
          </a>
        </div>
      </div>
      <div *ngIf="settingsType === settingsTypes.Billing" id="billing">
        <h1>Duelity Silver</h1>
        <p class="heading-paragraph">Thanks for the support!
          <a>Explore your new features</a>
        </p>
        <div class="payment-block">
          <div class="payment-block-border"></div>
          <div class="payment-block-wrapper">
            <label>Duelity Silver active</label>
            <span class="silver-label"></span>
            <h2>12 Jun, 2019 — 12 Jun, 2020</h2>
            <div class="divider"></div>
            <div>
              <button class="left">Cancel Subsciption</button>
              <p class="right">128 days left</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="history-container">
          <h2>Payment History</h2>
          <div class="history-block">
            <p class="left">12 Jun, 2019</p>
            <span class="right">$24</span>
            <div class="clearfix"></div>
            <div class="divider"></div>
          </div>
          <div class="history-block">
            <p class="left">8 Jun, 2020</p>
            <span class="right">$24</span>
            <div class="clearfix"></div>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>