<div *ngIf="modalService.confirmationModalSettings">
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1>{{modalService.confirmationModalSettings.title}}</h1>
        </div>
        <div class="modal-body">
          <p>{{modalService.confirmationModalSettings.text}}</p>
          <div>
            <button class="inline" data-dismiss="modal">{{modalService.confirmationModalSettings.cancelButtonText}}</button>
            <button class="inline" (click)="onConfirm()">{{modalService.confirmationModalSettings.confirmButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>