<div class="modal fade" id="{{userListService.modalId}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{userListService.heading}}
          <span *ngIf="userListService.totalUserCount > 0">{{userListService.totalUserCount}}</span>
        </h2>
      </div>
      <div class="modal-body">
        <div *ngIf="userListService.users.length > 0">
          <div (click)="goToPerson(user.username)" *ngFor="let user of userListService.users" class="clickable">
            <div class="inline avatar">
              <app-profile-picture elementClass="medium" fullname={{user.fullname}} userId={{user.id}} backgroundImage={{user.imageUrl}}
                backgroundColor={{user.imageColor}}>
              </app-profile-picture>
            </div>
            <div class="inline user-info">
              <h3 class="user-name">{{user.fullname}}
                <span *ngIf="user.isPaidAccount" class="silver-label"></span>
              </h3>
              <p class="skill-points">{{user.skillPoints}} skill</p>
            </div>
            <div *ngIf="userListService.users.indexOf(user) !== userListService.users.length - 1" class="hr-line"></div>
          </div>
        </div>
        <div class="center">
          <div class="pager-block">
            <div *ngFor="let page of userListService.pages" [class.active]="page.isActive" [class.selected]="page.isCurrentPage" (click)="userListService.setPage(page.symbol, page.isActive, page.isCurrentPage)">
              <div>{{page.symbol}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-block"></div>
    </div>
  </div>
</div>