.modal-dialog {
    min-width: 720px;
}

.pager-block {
    display: inline-block;
}

.modal-header {
    padding: 0;
    border: 0;
    margin-bottom: 30px;
}

.modal-header h2 span {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #C1C7CB;
}

.modal-content {
    padding: 40px;
}

.user-name {
    color: #5D5D5D;
}

.skill-points {
    color: #5D5D5D;
    opacity: .5;
}

.user-info {
    position: relative;
    top: 6px;
}

.hr-line {
    height: 1px;
    background-color: #DCDCDC;
    opacity: .5;
    margin-top: 25px;
    margin-bottom: 20px;
}

.silver-label {
    position: relative;
    top: 3px;
}

.avatar {
    margin-right: 15px;
}

.pager-block {
    margin-top: 10px;
}