.notifications-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.notification-container {
    padding-top: 0px;
    padding-bottom: 45px;
    border-bottom: 1px solid #ededed;
}

.notification-container.no-border {
    border-bottom: 0;
} 

.notification-container > div {
    display: inline-block;
    position: relative;
    top: 23px;
}

.notification-container > div > div {
    display: inline-block;
}

.notification-container .is-new-block {
    width: 20px;
    margin-left: -22px;
    position: relative;
    top: 16px;
    right: 10px; 
}

.notification-container .avatar {
    position: relative;
    top: -7px;
}

.notification-container .notification-text-block {
    position: relative;
    top: 10px;
    left: 56px;
}

.notification-container .is-new-block > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F55045;
    opacity: 1;
}

.notification-container .is-new-block > div.hidden {
    opacity: 0;
}

.notification-container .image-block img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.notification-container .timestamp-block {
    margin-left: 20px;
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #C1C7CB;
    position: relative;
    top: 40px;
}

.notifications-content {
    width: 794px;
    margin: 0 auto;
}

.notifications-content .notification-text-block p {
    width: 415px;
    padding-left: 33px;
}

.notifications-content .notification-text-block p.created-duel {
    background: url("../../../assets/img/notifications/created-duel-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.accepted-duel {
    background: url("../../../assets/img/notifications/accepted-duel-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.declined-duel {
    background: url("../../../assets/img/notifications/declined-duel-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.uploaded-work {
    background: url("../../../assets/img/notifications/uploaded-work-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.new-vote {
    background: url("../../../assets/img/notifications/new-vote-icon.svg") 0% 8px no-repeat;
}

.notifications-content .notification-text-block p.won-duel {
    background: url("../../../assets/img/notifications/won-duel-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.lost-duel {
    background: url("../../../assets/img/notifications/lost-duel-icon.svg") 0% 2px no-repeat;
}

.notifications-content .notification-text-block p.draw-duel {
    background: url("../../../assets/img/notifications/draw-duel-icon.svg") 0% 8px no-repeat;
}

.notifications-content .notification-text-block p.new-follow {
    background: url("../../../assets/img/notifications/new-follow-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.featured-duel {
    background: url("../../../assets/img/notifications/featured-duel-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.popular-duel {
    background: url("../../../assets/img/notifications/popular-duel-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.ended-subscription {
    background: url("../../../assets/img/notifications/ended-subscription-icon.svg") 0% 1px no-repeat;
}

.notifications-content .notification-text-block p.started-voting {
    background: url("../../../assets/img/notifications/started-voting-icon.svg") 0% 8px no-repeat;
}

.empty-state-wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 115px;
}

.empty-state-block {
    display: inline-block;
}

.empty-state-block img {
    margin-bottom: 35px;
}

.empty-state-block h2 {
    margin-bottom: 8px;
}

.empty-state-block p {
    margin-bottom: 30px;
}

.empty-state-block .primary-button {
    width: 180px;
}

.pager-block {
    width: 100%; 
    margin-top: 35px;
}