<div *ngIf="notificationService.notifications" id="notifications">
  <div *ngIf="notificationService.notifications.length > 0" class="notifications-wrapper">
    <div class="notifications-content">
      <h1>Notifications</h1>
      <div class="notification-container" [class.no-border]="i === notificationService.notifications.length - 1" *ngFor="let notification of notificationService.notifications; let i = index">
        <div>
          <div>
            <div class="image-block left">
              <div class="is-new-block">
                <div [class.hidden]="!notification.isNewNotification"></div>
              </div>
              <app-profile-picture class="avatar" elementClass="x-small" userId={{notification.userId}} fullname={{notification.fullname}}
                backgroundImage={{notification.imageUrl}} backgroundColor={{notification.imageColor}}>
              </app-profile-picture>
            </div>
            <div class="notification-text-block">
              <p [className]="notificationService.notificationIcons[notification.type]" [innerHTML]="notification.text | safeHtml"></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="timestamp-block right">
          <span>{{dateFormatter.toRelativeFormat(notification.timestamp)}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="center">
        <div class="pager-block">
          <div *ngFor="let page of notificationService.pages" [class.active]="page.isActive" [class.selected]="page.isCurrentPage" (click)="notificationService.getNotifications(page.symbol, page.isActive, page.isCurrentPage)">
            <div>{{page.symbol}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="notificationService.notifications.length === 0" class="empty-state-wrapper">
    <div class="empty-state-block">
      <img width="342" height="319" src="../../../assets/img/notifications/empty-state-illustration.png">
      <h2>Still not a single notification!</h2>
      <p>Start doing any activities like voting, following people or dueling</p>
      <a class="button primary-button" routerLink="/start">
        <span>Start a Duel</span>
      </a>
    </div>
  </div>
</div>