<div id="search">
  <div class="search-container">
    <input id="searchMainInput" class="search-input" [(ngModel)]="searchString" (keyup.enter)="setSearchMode(currentMode)" />
    <button id="users-mode" class="switch-mode-button" (click)="setSearchMode(searchType.Users)">
      Users
      <span *ngIf="usersCount > 0">{{usersCount}}</span>
    </button>
    <button id="duels-mode" class="switch-mode-button" (click)="setSearchMode(searchType.Duels)">
      Duels
      <span *ngIf="duelsCount > 0">{{duelsCount}}</span>
    </button>
  </div>
  <div *ngIf="users">
    <div *ngIf="currentMode === searchType.Users">
      <h2 *ngIf="searchStringOutput !== '' && usersCount > 0" class="search-header">Users for "{{searchStringOutput}}"</h2>
      <div *ngIf="users.length === 0" class="center empty-state-block">
        <div class="right duels-pointer" *ngIf="duelsCount > 0">
          <p>There’s something here though!</p>
          <img src="../../../assets/img/search/duels-arrow.svg">
        </div>
        <div class="clearfix"></div>
        <img width="506" height="311" src="../../../assets/img/search/empty-state-illustration.png">
        <h1>No users found for your search</h1>
        <p>Try different keywords and make sure your request is spelled properly</p>
      </div>
      <div *ngIf="users.length > 0">
        <div *ngFor="let user of users">
          <div (click)="goToPerson(user.username)" class="left clickable">
            <div class="inline avatar">
              <app-profile-picture elementClass="medium" fullname={{user.fullname}} userId={{user.id}} backgroundImage={{user.imageUrl}}
                backgroundColor={{user.imageColor}}>
              </app-profile-picture>
            </div>
            <div class="inline user-info">
              <h3 class="user-name">{{user.fullname}}
                <span *ngIf="user.isPaidAccount" class="silver-label"></span>
              </h3>
              <p class="skill-points">{{user.skillPoints}} skill</p>
            </div>
          </div>
          <div *ngIf="currentUserId !== null" class="right following-button">
            <div *ngIf="currentUserId !== user.id">
              <a *ngIf="!isFollower(user.followers)" class="button secondary-button" (click)="followUser(user.id)">
                <span>Follow</span>
              </a>
              <a *ngIf="isFollower(user.followers)" class="button secondary-button" (click)="unfollowUser(user.id)">
                <span>Unfollow</span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div *ngIf="users.indexOf(user) !== users.length - 1" class="hr-line"></div>
        </div>
        <div *ngIf="usersCount !== users.length" class="center more-results-button">
          <a class="button secondary-button" (click)="loadMore()">
            <span>Load More Search Results</span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="currentMode === searchType.Duels">
      <div>
        <div *ngIf="duels.length === 0" class="center empty-state-block">
          <img width="506" height="311" src="../../../assets/img/search/empty-state-illustration.png">
          <h1>No duels found for your search</h1>
          <p>Try different keywords and make sure your request is spelled properly</p>
        </div>
        <div *ngIf="duels.length > 0">
          <div class="duels-container">
            <div *ngFor="let duel of duels" (click)="openVotePage(duel)" class="duel-wrapper">
              <app-duel [duel]="duel" [duelOwner]="currentUserId" (notify)="onNotify($event)"></app-duel>
            </div>
          </div>
          <div class="clearfix"></div>
          <div *ngIf="duelsCount !== duels.length" class="center more-results-button">
            <a class="button secondary-button" (click)="loadMore()">
              <span>Load More Search Results</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>