#search {
    padding-bottom: 100px;
}

.search-input {
    width: 902px;
    margin: 0 auto;
    display: inline-block;
    height: 65px;
    border: 0;
    outline: 0;
}

.search-container { 
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    display: block;
    border-top: 1px solid #D8E2E9;
    border-bottom: 1px solid #D8E2E9;
    border-left: 1px solid #D8E2E9;
    margin-bottom: 50px;
    margin-top: 70px;
}

.switch-mode-button {
    width: 149px;
    height: 72px;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    background: white;
    color: black;
    border: 2px solid #D8E2E9;
    margin-top: -1px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
}

.switch-mode-button:last-child {
    margin-left: -11px;
}

.switch-mode-button.active {
    background: linear-gradient(0deg, #F55045, #F55045), #F87269;
    color: white;
    border: 0;
}

.more-results-button {
    margin-top: 40px;
}

.search-header {
    margin-top: -10px;
    margin-bottom: 30px;
}

.user-name {
    color: #5D5D5D;
}

.skill-points {
    color: #5D5D5D;
    opacity: .5;
}

.avatar {
    margin-right: 15px;
}

.user-info {
    position: relative;
    top: 6px;
}

.hr-line {
    height: 1px;
    background-color: #DCDCDC;
    opacity: .5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.silver-label {
    position: relative;
    top: 3px;
}

.following-button {
    position: relative;
    top: 8px;
}

button.switch-mode-button span {
    height: 17px;
    text-align: center;
    border-radius: 34px;
    background-color: #FFE226;
    box-shadow: 0px 4px 14px rgba(255, 226, 38, 0.3);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
}

button.switch-mode-button.active span {
    color: #F55145;
}

.empty-state-block h1 {
    margin-top: 53px;
    margin-bottom: 10px;
}

.duels-pointer {
    margin-right: 55px;
}

.duels-pointer p,
.duels-pointer img {
    display: inline-block;
}

.duels-pointer p {
    width: 150px;
    text-align: right;
    position: relative;
    top: 25px;
    margin-right: 14px;
}

.duels-pointer img {
    margin-top: -30px;
}