<div *ngIf="isPageLoaded">
  <div *ngIf="duel" id="vote-page" [class.unauthorized]="authService.getCurrentUser() === null">
    <app-report-comment></app-report-comment>
    <div class="clearfix"></div>
    <div>
      <div class="main left">
        <app-duel [duel]="duel" [sizeClass]="'opened'" [duelOwner]="currentUserId" (notify)="onNotify($event)" [leftUserModalId]="'leftUserModal'"
          [rightUserModalId]="'rightUserModal'"></app-duel>
        <div class="comments-section">
          <div>
            <h2 class="section-header left">Comments
              <span class="additional-info">{{commentsData.totalCount}}</span>
            </h2>
            <div *ngIf="commentsData.comments.length > 0" class="button-block right">
              <button [class.selected]="selectedOrderDirection === orderDirection.Asc" (click)="changeCommentsOrder(orderDirection.Asc)">Oldest</button>
              <button [class.selected]="selectedOrderDirection === orderDirection.Desc" (click)="changeCommentsOrder(orderDirection.Desc)">Newest</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="comments-container">
            <div class="empty-state" *ngIf="commentsData.comments.length === 0">
              <img width="336" height="273" src="../../../assets/img/vote/comments-empty-state-illustration.png">
              <h3>No comments for this duel yet</h3>
              <p>
                <span>Be the first to comment your thoughts on this duel</span>
              </p>
            </div>
            <div *ngIf="commentsData.comments.length > 0">
              <div class="comment-block clickable" *ngFor="let comment of commentsData.comments">
                <div class="avatar-wrapper inline clickable">
                  <app-profile-picture elementClass="x-medium" userId={{comment.user.id}} fullname={{comment.user.fullname}} backgroundImage={{comment.user.imageUrl}}
                    backgroundColor={{comment.user.imageColor}} (click)="goToPerson(comment.user.username)">
                  </app-profile-picture>
                </div>
                <div class="comments-wrapper inline">
                  <div>
                    <div class="left comment-author-name" (click)="goToPerson(comment.user.username)">{{comment.user.fullname}}</div>
                    <div class="right">
                      <p class="comment-time">{{dateFormatter.toRelativeFormat(comment.timestamp)}}</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <p class="comment-text">{{comment.text}}</p>
                  <div class="votes-container">
                    <div class="comment-footer">
                      <div class="left">
                        <div *ngIf="comment.user.selectedUserId !== null && comment.user.id !== duel.leftUser.user.id && comment.user.id !== duel.rightUser.user.id"
                          class="votes-circle">
                          <div class="circle comment-circle" [class.selected]="duel.leftUser.user.id === comment.user.selectedUserId"></div>
                          <div class="circle comment-circle" [class.selected]="duel.rightUser.user.id === comment.user.selectedUserId"></div>
                        </div>
                        <span *ngIf="duel.leftUser.user.id === comment.user.selectedUserId" class="additional-info">Vote for {{duel.leftUser.user.fullname}}</span>
                        <span *ngIf="duel.rightUser.user.id === comment.user.selectedUserId" class="additional-info">Vote for {{duel.rightUser.user.fullname}}</span>
                        <span *ngIf="comment.user.selectedUserId === null && comment.user.id !== duel.leftUser.user.id && comment.user.id !== duel.rightUser.user.id"
                          class="additional-info">Commented after the duel has ended</span>
                        <span *ngIf="comment.user.selectedUserId === null && (comment.user.id === duel.leftUser.user.id || comment.user.id === duel.rightUser.user.id)"
                          class="additional-info">Duelist</span>
                      </div>
                      <div *ngIf="currentUserId !== null" class="button-block right">
                        <!-- <button *ngIf="comment.user.id !== currentUserId" (click)="reportService.openReportCommentModal(comment.id)">Report</button> -->
                        <button class="warning" *ngIf="comment.user.id === currentUserId" (click)="deleteComment(comment.id)">Delete</button>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pager-block">
                <div *ngFor="let page of pages" [class.active]="page.isActive" [class.selected]="page.isCurrentPage" (click)="setPage(page.symbol, page.isActive, page.isCurrentPage)">
                  <div>{{page.symbol}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main right">
        <div class="task-section">
          <h2 class="section-header">Task
            <span class="additional-info">by {{duel.leftUser.user.fullname}}</span>
          </h2>
          <p #duelTaskBlock>{{duel.duelTask}}</p>
          <button #expandButton id="expand-button" (click)="toogleTaskExpand()">
            <svg *ngIf="isExpandedTask" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.03651 3.03692C0.853177 5.22025 0.853177 8.77318 3.03651 10.9565C5.21984 13.1398 8.77277 13.1398 10.9561 10.9565C13.1394 8.77318 13.1394 5.22025 10.9561 3.03692C8.77277 0.853584 5.21984 0.853584 3.03651 3.03692ZM11.9465 11.9465C9.21717 14.6758 4.77626 14.6758 2.04697 11.9465C-0.682323 9.21717 -0.682323 4.77626 2.04697 2.04697C4.77626 -0.682323 9.21717 -0.682323 11.9465 2.04697C14.6758 4.77626 14.6758 9.21717 11.9465 11.9465Z"
                fill="#26AFFF" />
              <path d="M3.03779 6.29657V7.69635L10.9574 7.69635V6.29657L3.03779 6.29657Z" fill="#26AFFF" />
            </svg>
            <svg *ngIf="!isExpandedTask" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.03794 3.03834C0.853578 5.2227 0.853578 8.7773 3.03794 10.9617C5.22229 13.146 8.77689 13.146 10.9612 10.9617C13.1456 8.7773 13.1456 5.2227 10.9612 3.03834C8.77689 0.853985 5.22229 0.853985 3.03794 3.03834ZM11.9521 11.9521C9.2215 14.6826 4.7785 14.6826 2.04793 11.9521C-0.682643 9.2215 -0.682643 4.7785 2.04793 2.04793C4.7785 -0.682643 9.2215 -0.682643 11.9521 2.04793C14.6826 4.7785 14.6826 9.2215 11.9521 11.9521Z"
                fill="#26AFFF" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70109 3.03809L6.30064 3.03809V6.29952L3.03921 6.29952V7.69997H6.30064V10.9614H7.70109L7.70159 7.70046L10.9625 7.69997V6.29952L7.70109 6.29952V3.03809Z"
                fill="#26AFFF" />
            </svg>
            <span>{{expandTaskButtonText}}</span>
          </button>
        </div>
        <div class="voting-section">
          <h2 class="section-header">Voting
            <span class="additional-info">{{duel.leftUser.votesAmount + duel.rightUser.votesAmount}}</span>
          </h2>
          <div *ngIf="authService.getCurrentUser() === null" class="unauthorized-state">
            <p>Only authorised users can vote
              <span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99972 14.3997C4.47092 14.3997 1.59972 11.5285 1.59972 7.99972C1.59972 4.47092 4.47092 1.59972 7.99972 1.59972C11.5285 1.59972 14.3997 4.47092 14.3997 7.99972C14.3997 11.5285 11.5285 14.3997 7.99972 14.3997ZM8 0C3.5888 0 0 3.5888 0 8C0 12.412 3.5888 16 8 16C12.4112 16 16 12.412 16 8C16 3.5888 12.4112 0 8 0Z"
                    fill="#5D5D5D" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.3998 4.80078H4.7998V7.20078H6.3998V4.80078Z" fill="#5D5D5D" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.59961 7.20078H11.1996V4.80078H9.59961V7.20078Z" fill="#5D5D5D" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.17559 8.37598L7.99959 9.55198L6.82439 8.37598L5.97559 9.22478L7.15159 10.4L5.97559 11.576L6.82439 12.4248L7.99959 11.2488L9.17559 12.4248L10.0244 11.576L8.84839 10.4L10.0244 9.22478L9.17559 8.37598Z"
                    fill="#5D5D5D" />
                </svg>
              </span>
            </p>
            <div class="sign-in-buttons inline">
              <a class="button secondary-button create-account" (click)="registerService.goToRegister()">
                <span>Create Account</span>
              </a>
              <a class="button secondary-button sign-in" (click)="loginService.openModal()">
                <span>Sign In</span>
              </a>
            </div>
          </div>
          <div *ngIf="authService.getCurrentUser() !== null">
            <div *ngIf="duel.status === duelStatus.Voting && (currentUserId === duel.leftUser.user.id || currentUserId === duel.rightUser.user.id)"
              class="own-duel-state">
              <p>You can’t vote in your own duel
                <span>
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5997 6C5.7101 6 5.7997 6.0896 5.7997 6.2C5.7997 6.42 5.3997 6.42 5.3997 6.2C5.3997 6.0896 5.4893 6 5.5997 6ZM5.59995 7.60078C6.37195 7.60078 6.99995 6.97278 6.99995 6.20078C6.99995 5.42878 6.37195 4.80078 5.59995 4.80078C4.82795 4.80078 4.19995 5.42878 4.19995 6.20078C4.19995 6.97278 4.82795 7.60078 5.59995 7.60078Z"
                      fill="#5D5D5D" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00007 14.3997C4.47127 14.3997 1.60007 11.5285 1.60007 7.99972C1.60007 4.47092 4.47127 1.59972 8.00007 1.59972C11.5289 1.59972 14.4001 4.47092 14.4001 7.99972C14.4001 11.5285 11.5289 14.3997 8.00007 14.3997ZM8 0C3.5888 0 0 3.5888 0 8C0 12.412 3.5888 16 8 16C12.4112 16 16 12.412 16 8C16 3.5888 12.4112 0 8 0Z"
                      fill="#5D5D5D" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99995 11.1993C6.98555 11.1993 6.05275 10.7337 5.44075 9.92086L4.16235 10.8833C5.07995 12.1017 6.47835 12.7993 7.99995 12.7993C9.52395 12.7993 10.924 12.1001 11.84 10.8801L10.56 9.91846C9.94955 10.7329 9.01595 11.1993 7.99995 11.1993Z"
                      fill="#5D5D5D" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.7998 7.19961H11.9998V5.59961H8.7998V7.19961Z" fill="#5D5D5D" />
                  </svg>
                </span>
              </p>
              <div class="input-wrapper">
                <app-input (onValueChange)="onCommentTextChange($event)" [value]="commentText" [placeholder]="'Comment'" [type]="inputType.Text"
                  [error]="descriptionErrorMessage" [counterMinLength]="20"></app-input>
              </div>
              <a class="button primary-button" [class.disabled]="!validateComments(commentText)" (click)="addComment()">
                <span>Comment</span>
              </a>
            </div>
            <div *ngIf="duel.status === duelStatus.Voting && currentUserId !== duel.leftUser.user.id && currentUserId !== duel.rightUser.user.id && (!duel.leftUser.isSelected && !duel.rightUser.isSelected)">
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">{{duel.leftUser.user.fullname}}
                  <input type="radio" name="votedUser" [(ngModel)]="votedUser" value="{{duel.leftUser.user.id}}">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">{{duel.rightUser.user.fullname}}
                  <input type="radio" name="votedUser" [(ngModel)]="votedUser" value="{{duel.rightUser.user.id}}">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="input-wrapper">
                <app-input (onValueChange)="onCommentTextChange($event)" [value]="commentText" [placeholder]="'Comment'" [type]="inputType.Text"
                  [error]="descriptionErrorMessage" [counterMinLength]="20"></app-input>
              </div>
              <p>Comment on why are you voting this way. Participants value your feedback.</p>
              <br>
              <a class="button primary-button" [class.disabled]="!validateVote(commentText)" (click)="addVote()">
                <span>Vote</span>
              </a>
            </div>
            <div class="voting-results" *ngIf="duel.status === duelStatus.Voting && currentUserId !== duel.leftUser.user.id && currentUserId !== duel.rightUser.user.id && (duel.leftUser.isSelected || duel.rightUser.isSelected)">
              <p>Voted for</p>
              <div class="votes-container">
                <div class="votes-circle inline">
                  <div class="circle" [class.selected]="duel.leftUser.isSelected"></div>
                  <div class="circle" [class.selected]="duel.rightUser.isSelected"></div>
                </div>
                <h3 class="inline" *ngIf="duel.leftUser.isSelected">{{duel.leftUser.user.fullname}}</h3>
                <h3 class="inline" *ngIf="duel.rightUser.isSelected">{{duel.rightUser.user.fullname}}</h3>
              </div>
              <div class="input-wrapper">
                <app-input (onValueChange)="onCommentTextChange($event)" [value]="commentText" [placeholder]="'Comment'" [type]="inputType.Text"
                  [error]="descriptionErrorMessage" [counterMinLength]="20"></app-input>
              </div>
              <br>
              <a class="button primary-button" [class.disabled]="!validateComments(commentText)" (click)="addComment()">
                <span>Comment</span>
              </a>
            </div>
            <div class="ended-state" *ngIf="duel.status === duelStatus.Ended">
              <p class="voting-ended-text">Voting ended {{dateFormatter.toRelativeFormat(duel.endDate)}}</p>
              <div *ngIf="duel.leftUser.votesAmount > duel.rightUser.votesAmount || duel.leftUser.votesAmount < duel.rightUser.votesAmount">
                <h3 *ngIf="duel.leftUser.votesAmount > duel.rightUser.votesAmount">{{duel.leftUser.user.fullname}}
                  <span class="winner-label">Won</span>
                </h3>
                <h3 *ngIf="duel.leftUser.votesAmount < duel.rightUser.votesAmount">{{duel.rightUser.user.fullname}}
                  <span class="winner-label">Won</span>
                </h3>
              </div>
              <div *ngIf="duel.leftUser.votesAmount === duel.rightUser.votesAmount">
                <span class="draw-label">Draw</span>
              </div>
              <div class="input-wrapper">
                <app-input (onValueChange)="onCommentTextChange($event)" [value]="commentText" [placeholder]="'Comment'" [type]="inputType.Text"
                  [error]="descriptionErrorMessage" [counterMinLength]="20"></app-input>
              </div>
              <p class="small">You cannot vote since the duel has ended, though you can still comment this duel</p>
              <a class="button primary-button" [class.disabled]="!validateComments(commentText)" (click)="addComment()">
                <span>Comment</span>
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="authService.getCurrentUser() !== null" class="share-section">
          <h2 class="section-header">Share</h2>
          <div class="share-social-block">
            <div class="twitter">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 24C18.627 24 24 18.6274 24 12C24 5.37258 18.627 0 12 0C5.37305 0 0 5.37258 0 12C0 18.6274 5.37305 24 12 24ZM18.5625 7.89707C19.2094 7.82412 19.8258 7.66072 20.4 7.41979C19.9723 8.02723 19.4285 8.56079 18.7992 8.98548L18.8098 9.37781C18.8098 13.3824 15.5918 18 9.70547 18C7.89844 18 6.2168 17.4978 4.8 16.6365C5.05078 16.6633 5.30508 16.678 5.56289 16.678C7.06289 16.678 8.44336 16.1952 9.53789 15.3829C8.1375 15.3588 6.95625 14.4828 6.54844 13.2781C6.74531 13.315 6.94453 13.3344 7.15078 13.3344C7.44375 13.3344 7.72617 13.2965 7.99453 13.2282C6.53086 12.9494 5.42813 11.7244 5.42813 10.2566V10.2188C5.85938 10.4459 6.35273 10.5825 6.87773 10.5991C6.01992 10.0563 5.45391 9.12854 5.45391 8.07707C5.45391 7.52132 5.61094 7.00069 5.88633 6.55387C7.46484 8.38726 9.82266 9.5938 12.4828 9.72029C12.4277 9.49872 12.3996 9.26701 12.3996 9.02977C12.3996 7.35703 13.8328 6 15.6 6C16.5211 6 17.352 6.36742 17.9355 6.95731C18.6645 6.82068 19.3488 6.56864 19.9688 6.22155C19.7297 6.92776 19.2234 7.52226 18.5625 7.89707Z"
                  fill="#C1C7CB" />
              </svg>
            </div>
            <div class="pinterest">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C5.37933 0 0 5.37009 0 11.9794C0 16.8951 2.93794 21.1085 7.2 22.9674C7.15861 22.1412 7.2 21.1085 7.40691 20.1997C7.6552 19.2083 8.93794 13.673 8.93794 13.673C8.93794 13.673 8.56552 12.8882 8.56552 11.7728C8.56552 9.99656 9.6 8.67471 10.8827 8.67471C11.9586 8.67471 12.4965 9.50087 12.4965 10.4923C12.4965 11.5663 11.7931 13.2186 11.4207 14.747C11.131 16.0276 12.0413 17.0602 13.3241 17.0602C15.6 17.0602 17.131 14.1273 17.131 10.6988C17.131 8.05501 15.3517 6.11356 12.1241 6.11356C8.48273 6.11356 6.20691 8.8399 6.20691 11.8554C6.20691 12.8881 6.49655 13.6317 6.99309 14.2099C7.2 14.4578 7.24139 14.5817 7.15861 14.8709C7.11722 15.0774 6.9517 15.6144 6.91031 15.8209C6.82753 16.1101 6.57928 16.234 6.28964 16.1101C4.59309 15.4078 3.84825 13.5903 3.84825 11.5249C3.84825 8.13761 6.70341 4.0481 12.4138 4.0481C17.0069 4.0481 20.0276 7.35277 20.0276 10.9053C20.0276 15.6144 17.4207 19.1256 13.5724 19.1256C12.2896 19.1256 11.0483 18.4234 10.6345 17.6385C10.6345 17.6385 9.93103 20.4062 9.80691 20.9432C9.55861 21.852 9.06206 22.8021 8.60691 23.5043C9.68278 23.8348 10.8414 24 12 24C18.6207 24 24 18.6299 24 12.0206C24 5.41131 18.6207 0 12 0Z"
                  fill="#C1C7CB" />
              </svg>
            </div>
            <div class="facebook">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C5.38323 0 0 5.38323 0 12C0 18.6163 5.38323 24 12 24C18.6163 24 24 18.6163 24 12C24 5.38323 18.6173 0 12 0ZM14.9843 12.4225H13.032C13.032 15.5416 13.032 19.381 13.032 19.381H10.139C10.139 19.381 10.139 15.5788 10.139 12.4225H8.76388V9.9631H10.139V8.37235C10.139 7.23306 10.6804 5.45283 13.0586 5.45283L15.2023 5.46105V7.84838C15.2023 7.84838 13.8996 7.84838 13.6463 7.84838C13.3931 7.84838 13.0329 7.97503 13.0329 8.51833V9.96359H15.2371L14.9843 12.4225Z"
                  fill="#C1C7CB" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div *ngIf="!duel">
    <h1>Cannot find a duel.</h1>
  </div>
</div>