#vote-page {
    padding-top: 40px;
    padding-bottom: 220px;
}

#vote-page.unauthorized {
    padding-bottom: 100px;
}

.main.right {
    width: 440px;
}

.header button {
    width: 120px;
}

.task-section {
    min-height: 249px;
}

.task-section p {
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.task-section #expand-button {
    border: 0;
    outline: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #26AFFF;
    transition: all .2s ease-in-out;
    background-color: transparent;
    padding: 0;
}

.task-section #expand-button span {
    position: relative;
    top: 2px;
    left: 2px;
}

.task-section #expand-button:hover,
.task-section #expand-button:focus {
    border: 0;
    outline: 0;
}

.task-section #expand-button:hover {
    color: #2686BE;
    transition: all .2s ease-in-out;
}

.task-section #expand-button svg.spin {
    -webkit-animation: expand-button-spin .2s linear infinite;
    -moz-animation: expand-button-spin .2s linear infinite;
    animation: expand-button-spin .2s linear infinite;
}

@-moz-keyframes expand-button-spin 
{ 
    100% 
    { 
        -moz-transform: rotate(-110deg); 
    } 
}

@-webkit-keyframes expand-button-spin 
{ 
    100% 
    { 
        -webkit-transform: rotate(-110deg); 
    } 
}

@keyframes expand-button-spin 
{ 
    100% 
    { 
        -webkit-transform: rotate(-110deg); 
        transform:rotate(-110deg); 
    } 
}

.task-section #expand-button path {
    transition: all .2s ease-in-out;
}

.task-section #expand-button:hover path {
    fill: #2686BE;
    transition: all .2s ease-in-out;
}

.task-section .section-header {
    margin-bottom: 20px;
}

.task-section .section-header span.additional-info {
    margin-left: 6px;
}

.section-header span.additional-info {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #C1C7CB;
}

.voting-section .winner-label {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
    background-color: #FFE226;
    padding: 3px;
    margin-left: 5px;
}

.voting-section .draw-label {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
    background-color: #D8E2E9;
    padding: 3px;
}

.voting-section .ended-state p.voting-ended-text {
    margin-top: 29px;
    margin-bottom: 10px;
}

.voting-section .ended-state p.small {
    width: 354px;
    margin-bottom: 25px;
    line-height: 17px;
}

.voting-section .ended-state h3 {
    margin-top: -4px;
}

.voting-section .input-wrapper {
    margin-top: 27px;
}

.voting-section .unauthorized-state {
    margin-top: 40px;
}

.voting-section .unauthorized-state p {
    width: 150px;
    display: inline-block;
}

.voting-section .create-account {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 65px;
    margin-right: 20px;
}

.voting-section .create-account:hover {
    background-color: transparent;
}

.voting-section .sign-in {
    padding-left: 20px;
    padding-right: 20px;
}

.voting-section .unauthorized-state .sign-in-buttons {
    position: relative;
    top: -10px;
}

.voting-section .own-duel-state p {
    margin-top: 40px;
    width: 175px;
}

.comments-section,
.voting-section {
    margin-top: 70px;
}

.voting-section .custom-radio-wrapper:first-child {
    margin-right: 55px;
    margin-top: 40px;
}

.voting-section .voting-results p {
    margin-top: 40px;
    margin-bottom: 3px;
}

.comments-container {
    margin-top: 40px;
}

.comments-container .empty-state {
    text-align: center;
}

.comments-container .empty-state img {
    margin-bottom: 15px;
}

.comments-container .empty-state h3 {
    margin-bottom: 10px;
}

.comments-container .empty-state p {
    width: 252px;
    display: inline-block;
}

.comments-section {
    padding-right: 30px;
}

.comments-section .comment-block {
    margin-bottom: 50px;
}

.comments-section .button-block {
    position: relative;
    top: 7px;
}

.comments-section .button-block button {
    border: 0;
    outline: 0;
    color: #a5a5a5;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: transparent;
    transition: color .2s ease-in-out;
    margin-left: 10px;
}

.comments-section .button-block button:hover {
    border: 0;
    outline: 0;
    color: #5D5D5D;
    transition: color .2s ease-in-out;
}

.comments-section .button-block button.selected {
    color: #5D5D5D;
}

.comments-section .button-block button:focus {
    border: 0;
    outline: 0;
}

.comments-section .inline {
    vertical-align: top;
}

.comments-section .avatar-wrapper {
    margin-right: 20px;
}

.comments-section .comments-wrapper {
    width: 575px;
}

.comments-section .comment-time {
    color: #C1C7CB;
}

.comments-section .comment-author-name {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
    cursor: pointer;
}

.comments-section .comment-text {
    margin-top: -13px;
}

.comments-section .comment-footer {
    margin-top: -10px;
}

.comments-section .votes-circle {
    margin-right: 5px;
    display: inline-block;
}

.comments-section .votes-circle .circle {
    width: 10px;
    height: 10px;
}

.comments-section .votes-circle .circle.selected {
    background-color: #C1C7CB;
    border: 2px solid #C1C7CB;
}

.comments-section .comment-footer span {
    font-family: Menoe Grotesque Pro Italic;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    opacity: 0.7;
    margin-top: -5px;
}

.comments-section .comment-footer .button-block {
    visibility: hidden;
    margin-top: -4px;
}

.comments-section .comment-block:hover .comment-footer .button-block {
    visibility: visible;
}

.comments-section .pager-block {
    width: 100%;
}

.comments-section .comment-footer .button-block button.warning {
    color: #F55045;
    padding-right: 0;
}

.comments-section .comment-footer .button-block button.warning:hover {
    color: #A04437;
}

.share-section {
    position: absolute;
    bottom: 350px;
}

.share-section .share-social-block {
    margin-top: 20px;
}

.share-section .share-social-block div {
    display: inline-block;  
    margin-right: 30px;
    cursor: pointer;
}

.share-section .share-social-block div path {
    transition: all .2s ease-in-out;
}

.share-section .share-social-block div.twitter:hover path {
    fill: #26AFFF;
    transition: all .2s ease-in-out;
}

.share-section .share-social-block div.pinterest:hover path {
    fill: #CB1F24;
    transition: all .2s ease-in-out;
}

.share-section .share-social-block div.facebook:hover path {
    fill: #4867AD;
    transition: all .2s ease-in-out;
}