<app-confirmation-modal></app-confirmation-modal>
<div>
  <h1>Enter Username or Full Name</h1>
  <label>Username or Full Name</label>
  <input [(ngModel)]="searchString" (keyup.enter)="getUsers()" />
  <div *ngIf="users">
    <div>
      <div class="right">
        <button *ngIf="selectedOrderDirection === orderDirection.Asc" (click)="changeOrderDirection(orderDirection.Desc)">New to Old Accounts</button>
        <button *ngIf="selectedOrderDirection === orderDirection.Desc" (click)="changeOrderDirection(orderDirection.Asc)">Old to New Accounts</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <div *ngIf="users.length === 0">
      <h2>No users.</h2>
    </div>
    <div *ngFor="let user of users">
      <div class="left">
        <app-profile-picture fontSize=26 
                             width=72  
                             height=72 
                             fullname={{user.fullname}} 
                             userId={{user.id}} 
                             backgroundImage={{user.imageUrl}}
                             backgroundColor={{user.imageColor}}>
        </app-profile-picture>
        <div class="inline">
          <p>
            {{user.fullname}}
            <span *ngIf="user.isBanned">(Banned)</span>
            <span *ngIf="!user.isAdmin && user.isPaidAccount">(S)</span>
            <span *ngIf="user.isAdmin && user.isPaidAccount">(D)</span>
          </p>
          <p>Account created: {{dateFormatter.toShortFormat(user.accountCreationDate)}}</p>
        </div>
      </div>
      <div class="right">
        <div *ngIf="!user.isAdmin">
          <button *ngIf="!user.isBanned" (click)="onBanUser(user)">Ban User</button>
          <button *ngIf="user.isBanned" (click)="onUnbanUser(user)">Unban User</button>
          <button *ngIf="!user.isPaidAccount">Give Duelity Silver</button>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>
</div>