.following-duels {
    margin-bottom: 100px;
    margin-top: 100px;
}

.duels-container {
    margin-top: 20px;
}

h2 .following-amount {
    font-family: Menoe Grotesque Pro;
    font-size: 25px;
    line-height: 29px;
    color: #C1C7CB;
    margin-left: 10px;
}

.avatars-block {
    position: relative;
    right: 10px;
}

.avatars-label {
    position: relative;
}

.avatar {
    position: relative;
    cursor: pointer;
}

button.additional-users {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-family: Menoe Grotesque Pro;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    background-color: #D8E2E9;
    color: #5D5D5D;
    position: relative;
    top: -1px;
}

.profile-avatar {
    position: relative;
    top: 0px;
    transition: all .1s ease-in-out;
}

.profile-avatar:hover {
    top: -8px;
    transition: all .1s ease-in-out;
}

.duels-end-block-message {
    margin-bottom: 40px;
    margin-top: 60px;
}