<app-back-to-top></app-back-to-top>
<div class="following-duels">
    <div *ngIf="duels !== undefined && duels.length > 0" class="duels">
        <app-user-list></app-user-list>
        <div>
            <h2 class="left">Following
                <span class="following-amount">{{following.length}}</span>
            </h2>
            <div *ngIf="authService.getCurrentUser() !== null && following.length > 0" class="right" [class.avatars-block]="totalUserCount < previewUserAmount">
                <div class="inline">
                    <div *ngFor="let user of previewUsers" class="avatar inline custom-tooltip">
                        <span class="tooltiptext">{{user.fullname}}</span>
                        <app-profile-picture (click)="goToPerson(user.username)" elementClass="x-small" fullname={{user.fullname}} userId={{user.id}}
                            backgroundImage={{user.imageUrl}} backgroundColor={{user.imageColor}} hasBorder="true" class="profile-avatar">
                        </app-profile-picture>
                    </div>
                </div>
                <button class="inline additional-users" (click)="openUserFollowing()" *ngIf="totalUserCount > previewUserAmount">+{{totalUserCount - previewUserAmount}}</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="isPopularDuels && following.length === 0" class="duels-end-block-message">
            <h2>You’re not following anyone yet, showing you popular duels instead</h2>
            <p>Follow your favorite designers and their duels will appear here</p>
        </div>
        <div *ngIf="isPopularDuels && following.length > 0" class="duels-end-block-message">
            <h2>You are following lazy people, showing you popular duels instead</h2>
            <p>People you are following don't have a single duel, try following more people</p>
        </div>
        <div class="duels-container">
            <div *ngFor="let duel of duels" (click)="openVotePage(duel)" class="duel-wrapper">
                <app-duel [duel]="duel" [duelOwner]="currentUserId" (notify)="onNotify($event)"></app-duel>
            </div>
        </div>
        <div *ngIf="duels.length < totalDuelsAmount" class="duels-end-block-button">
            <a class="button secondary-button" (click)="loadNextPage()">
                <span>Load More</span>
            </a>
        </div>
        <div *ngIf="duels.length >= totalDuelsAmount" class="duels-end-block-message">
            <h2>Wow, you’ve reached the end of the list</h2>
            <p>Good job exploring following duels. Try looking through popular ones now!</p>
        </div>
    </div>
    <div *ngIf="duels === undefined || duels.length === 0">
        <h1>No duels.</h1>
    </div>
</div>
<div class="clearfix"></div>