<h2>Login</h2>
<div class="form">
  <div>
    <label>Username/Email:</label>
    <input type="text" [(ngModel)]="username" name="username" (keyup.enter)="onLoginSubmit()" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" [(ngModel)]="password" name="password" (keyup.enter)="onLoginSubmit()" />
  </div>
  <button type="submit" (click)="onLoginSubmit()">Submit</button>
</div>