<div class="modal fade" id="{{loginService.modalId}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img class="left main-illustration" width="278" height="415" src="../../../assets/img/login/login-illustration.png">
        <div class="right form">
          <h2>Sign In to Duelity</h2>
          <p>Sign in or create an account to be able to duel, vote, comment & more!</p>
          <div class="social-buttons">
            <button id="google-button" #googleButton class="inline left"></button>
            <button id="twitter-button" class="inline right" (click)="twitterService.onTwitterSignIn()"></button>
            <div class="clearfix"></div>
          </div>
          <form id="loginForm" (submit)="onLoginSubmit()" action="#">
            <div class="input-wrapper">
              <app-input (onValueChange)="onUsernameChange($event)" [value]="username" [placeholder]="'Username or Email'" [type]="inputType.Text"
                [error]="usernameErrorMessage"></app-input>
            </div>
            <div class="input-wrapper">
              <app-input (onValueChange)="onPasswordChange($event)" [value]="password" [placeholder]="'Password'" [type]="inputType.Password"
                [error]="passwordErrorMessage"></app-input>
            </div>
            <button type="submit" class="button primary-button" (click)="onLoginSubmit()">
              <span>Sign In</span>
            </button>
          </form>
          <div class="other-options">
            <div class="left">
              <p>
                <a (click)="goToRegister()">Create Account</a>
              </p>
            </div>
            <div class="delimiter"></div>
            <div class="right">
              <p>
                <a (click)="goToPasswordRestore()">Restore Password</a>
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="footer-block"></div>
    </div>
  </div>
</div>