.modal-dialog {
    max-width: 785px !important;
}

.modal-body {
    padding-top: 50px;
    padding-left: 28px;
    padding-right: 95px;
    padding-bottom: 40px;
}

.main-illustration {
    margin-top: 30px;
}

.form {
    width: 330px;
    margin-left: 50px;
}

.form h2 {
    margin-bottom: 10px;
    margin-top: -30px;
}

.form .social-buttons {
    margin-top: 25px;
    margin-bottom: 30px;
}

.form .button {
    width: 100%;
}

.form .input-wrapper {
    margin-bottom: 10px;
}

.form .other-options {
    margin-top: 16px;
}

.form .other-options > div {
    width: 162px;
    text-align: center;
}

.form .other-options .delimiter {
    width: 1px;
    height: 19px;
    background-color: #D8E2E9;
    float:left
}

.form .other-options a {
    opacity: 1;
    transition: all .1s ease-in-out;
}

.form .other-options a:hover {
    opacity: .7;
    transition: all .1s ease-in-out;
}

.form p > a {
    color: #5D5D5D !important;
    border-bottom: 1px dotted #5D5D5D !important;
}

#google-button, #twitter-button {
    width: 160px;
    height: 50px;
    display: inline-block;
}

#google-button {
    background: #4285F4 url("../../../assets/img/general/google.svg") 50% 50% no-repeat;
    transition: all .1s ease-in-out;
}

#google-button:hover {
    background: #3f7bdf url("../../../assets/img/general/google.svg") 50% 50% no-repeat;
    transition: all .1s ease-in-out;
}

#twitter-button {
    background: #1DA1F2 url("../../../assets/img/general/twitter.svg") 50% 50% no-repeat;
    transition: all .1s ease-in-out;
}

#twitter-button:hover {
    background: #1e95de url("../../../assets/img/general/twitter.svg") 50% 50% no-repeat;
    transition: all .1s ease-in-out;
}

button.close {
    position: relative;
    right: -130px;
    top: -50px;
    font-size: 27px;
    opacity: .6;
}