<div class="modal fade" id="reportCommentModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Reporting a Comment</h1>
      </div>
      <div class="modal-body">
        <p>Do you really want to report this comment?</p>
        <div>
          <button class="inline" data-dismiss="modal">Cancel</button>
          <button class="inline" (click)="onConfirmReport()">Report</button>
        </div>
      </div>
    </div>
  </div>
</div>