.duel.opened {
    width: 692px;
}

.duel {
    width: 590px;
    height: 250px;
    border: 1px solid #D8E2E9;
    z-index: 100;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    transition: all .2s ease-in-out;
}

.duel.hoverable {
    cursor: pointer;
}

.duel.hoverable:hover {
    box-shadow: 0px 20px 40px rgba(193, 199, 203, 0.2);
    transition: all .2s ease-in-out;
}

.duel .category {
    border-left: 1px solid #D8E2E9;
    border-bottom: 1px solid #D8E2E9;
    border-right: 1px solid #D8E2E9;
    display: inline-block;
    position: relative;
    top: -5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    margin-bottom: 0px;
}

.duel .digits {
    font-family: Menoe Grotesque Pro;
    font-size: 20px;
    color: #262626;
}

.duel .text {
    font-size: 12px;
}

.duel .open-task-button {
    margin-top: 37px;
}

.duel .rating {
    font-family: Menoe Grotesque Pro;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #C1C7CB;
}

.duel h3 {
    display: inline-block;
}

.duel .silver-label {
    position: relative;
    top: 3px;
    left: 3px;
}

.duel .right-user-block {
    position: relative;
    text-align: right;
}

.duel .tooltip-label {
    position: relative;
    top: 3px;
}

.duel .control-panel .button:last-child {
    margin-left: 18px;
}

#duelTaskModal button.close {
    position: relative;
    right: -80px;
    top: -35px;
    font-size: 27px;
    opacity: .6;
}

#duelTaskModal .modal-body {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
}

#duelTaskModal .modal-body h2 {
    margin-bottom: 10px;
}

.duel .work-status-block {
    width: 158px;
    height: 144px;
    outline: 1px solid rgba(220, 220, 220, 0.5);
    margin-bottom: 7px;
}

.duel .work-status-block > div {
    width: 158px;
    height: 144px;
}

.duel .work-status-block .upload-work {
    background: url("../../../assets/img/duel/upload-work-icon.svg") 50% 40px no-repeat;
} 

.duel .work-status-block .upload-work > div {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 85px;
    color: #262626;
}

.duel .work-status-block .waiting-for-work {
    background: url("../../../assets/img/duel/waiting-for-work-icon.svg") 50% 26px no-repeat;
} 

.duel .work-status-block .waiting-for-work > p {
    font-family: Menoe Grotesque Pro;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #5D5D5D;
    position: relative;
    top: 67px;
}

.duel .work-status-block .edit-work {
    background: url("../../../assets/img/duel/edit-work-icon.svg") 50% 40px no-repeat, linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} 

.duel .work-status-block .edit-work > div {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 85px;
}

.duel .work-status-block .work-uploaded {
    background: url("../../../assets/img/duel/work-uploaded-icon.svg") 50% 26px no-repeat;
}

.duel .work-status-block .work-uploaded > p {
    font-family: Menoe Grotesque Pro;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #5D5D5D;
    position: relative;
    top: 67px;
}

.duel .in-progress .digits-block {
    margin-top: -107px;
}

.duel .voting .digits-block {
    margin-top: -140px;
}

.duel .space {
    height: 17px;
}

.duel .voting-wrapper {
    margin: 0 auto;
}

.duel .voting-bar-container {
    margin: 0 auto;
    text-align: left;
    position: relative;
    top: -6px;
}

.duel .voting-bar {
    height: 4px;
    background-color: #D8E2E9;
    display: inline-block;
    position: relative;
}

.duel .percentage-block {
    margin-top: 27px;
}

.duel .voting-bar.cover {
    background-color: #26AFFF;
}

.duel .lost-voting-bar-wrapper,
.duel .win-voting-bar-wrapper {
    width: 137px;
    height: 4px;
    position: relative;
    top: -39px;
}

.duel .win-voting-bar-wrapper {
    top: -43px;
}

.duel .voting-bar.cover.ended {
    background-color: #31D431;
}

.duel .voting-digits {
    font-family: Menoe Grotesque Pro;
    font-size: 20px;
    line-height: 23px;
    color: #5D5D5D;
}

.duel .voting-digits.small {
    font-size: 12px;
    line-height: 20px;
}

.duel .votes-amount-container {
    margin-top: -30px;
}

.duel .winner-label {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
    background-color: #FFE226;
    padding: 3px;
    position: relative;
    top: 1px;
}

.duel .winner-label.left {
    left: 5px;
}

.duel .winner-label.right {
    right: 5px;
}

.duel .draw-label {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
    background-color: #D8E2E9;
    padding: 3px;
    position: relative;
    top: -4px;
}

.duel .votes-circle {
    width: 30px;
    display: block;
    margin: 0 auto;
    margin-top: -22px;
}

.duel.featured {
    background: url("../../../assets/img/duel/featured-icon.svg") 8px 0px no-repeat;
}

.duel .voting .work-status-block.open-modal-hover {
    margin-top: -151px;
    background: rgba(38, 38, 38, 0.3) url("../../../assets/img/duel/open-solution-icon.svg") 50% 46px no-repeat;
    cursor: pointer;
    position: relative;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 205px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.duel .voting .work-status-block.open-modal-hover:hover {
    transition: opacity .2s ease-in-out;
    opacity: 1;
}