<div #duelBlock *ngIf="duel && showComponent" class="duel {{sizeClass}}" [class.hoverable]="(duel.status === duelStatus.Voting || duel.status === duelStatus.Ended) && leftUserModalId === undefined && rightUserModalId === undefined"
  [class.featured]="duel.isFeatured">
  <!-- Modals -->
  <app-work-modal *ngIf="leftUserModalId" [current]="duel.leftUser" [opponent]="duel.rightUser" [modalId]="leftUserModalId"></app-work-modal>
  <app-work-modal *ngIf="rightUserModalId" [current]="duel.rightUser" [opponent]="duel.leftUser" [modalId]="rightUserModalId"></app-work-modal>
  <div class="modal fade" id="duelTaskModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Duel Task</h2>
          <p>{{duel.duelTask}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modals -->
  <!-- Waiting status  -->
  <div *ngIf="duel.status === duelStatus.Waiting">
    <div class="center">
      <p class="category">{{duel.duelCategory.name}}</p>
    </div>
    <div class="space"></div>
    <div class="left">
      <div>
        <span class="digits">{{duel.date}}</span>
        <p *ngIf="isCurrentUser(duel.leftUser.user.id)" class="text">left for {{duel.rightUser.user.fullname}} to decide
          <span #tooltip class="tooltip-label custom-tooltip duel-tooltip">
            <span class="tooltiptext">Some text</span>
          </span>
        </p>
        <p *ngIf="!isCurrentUser(duel.leftUser.user.id)" class="text">left for you to decide
          <span #tooltip class="tooltip-label custom-tooltip duel-tooltip">
            <span class="tooltiptext">Some text</span>
          </span>
        </p>
      </div>
      <div>
        <span class="digits">{{duel.deadlineInDays}} days</span>
        <p class="text">deadline for this duel</p>
      </div>
    </div>
    <div class="right">
      <div *ngIf="isCurrentUser(duel.leftUser.user.id)">
        <a class="button secondary-button" (click)="removeDuel(duel.id, 'revoked')">
          <span>Revoke</span>
        </a>
      </div>
      <div *ngIf="!isCurrentUser(duel.leftUser.user.id)" class="control-panel">
        <a class="button secondary-button" (click)="removeDuel(duel.id, 'declined')">
          <span>Decline</span>
        </a>
        <a class="button primary-button" (click)="acceptDuel(duel.id)">
          <span>Accept</span>
        </a>
      </div>
      <button class="open-task-button right" (click)="openModal('duelTaskModal')">Open task</button>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div>
      <div class="left">
        <div>
          <span class="rating">#{{duel.leftUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.leftUser.user.fullname}}</h3>
          <span *ngIf="duel.leftUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="right-user-block right">
        <div>
          <span class="rating">#{{duel.rightUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.rightUser.user.fullname}}</h3>
          <span *ngIf="duel.rightUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- End Waiting status -->
  <!-- In Progress status -->
  <div *ngIf="duel.status === duelStatus.InProgress" class="in-progress">
    <div class="center">
      <p class="category">{{duel.duelCategory.name}}</p>
    </div>
    <div class="left">
      <div *ngIf="isCurrentUser(duel.leftUser.user.id)" (click)="openWorkPage(duel.numericId)" blockBackground [background]="duel.leftUser.previewImageUrl"
        class="work-status-block">
        <div *ngIf="!isWorkUploaded(duel.leftUser.previewImageUrl)" class="upload-work">
          <div>Upload Work</div>
        </div>
        <div *ngIf="isWorkUploaded(duel.leftUser.previewImageUrl)" class="edit-work">
          <div>Edit Work</div>
        </div>
      </div>
      <div *ngIf="!isCurrentUser(duel.leftUser.user.id)" class="work-status-block">
        <div *ngIf="!isWorkUploaded(duel.leftUser.previewImageUrl)" class="waiting-for-work">
          <p>Still waiting for
            <br>{{duel.leftUser.user.fullname}}
            <br>work</p>
        </div>
        <div *ngIf="isWorkUploaded(duel.leftUser.previewImageUrl)" class="work-uploaded">
          <p>{{duel.leftUser.user.fullname}}
            <br> handed in their work.
            <br> It's all on you now!</p>
        </div>
      </div>
    </div>
    <div class="right">
      <div *ngIf="isCurrentUser(duel.rightUser.user.id)" (click)="openWorkPage(duel.numericId)" blockBackground [background]="duel.rightUser.previewImageUrl"
        class="work-status-block">
        <div *ngIf="!isWorkUploaded(duel.rightUser.previewImageUrl)" class="upload-work">
          <div>Upload Work</div>
        </div>
        <div *ngIf="isWorkUploaded(duel.rightUser.previewImageUrl)" class="edit-work">
          <div>Edit Work</div>
        </div>
      </div>
      <div *ngIf="!isCurrentUser(duel.rightUser.user.id)" class="work-status-block">
        <div *ngIf="!isWorkUploaded(duel.rightUser.previewImageUrl)" class="waiting-for-work">
          <p>Still waiting for
            <br>{{duel.rightUser.user.fullname}}
            <br>work</p>
        </div>
        <div *ngIf="isWorkUploaded(duel.rightUser.previewImageUrl)" class="work-uploaded">
          <p>{{duel.rightUser.user.fullname}}
            <br> handed in their work.
            <br> It's all on you now!</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="digits-block center">
      <span class="digits">{{duel.date}}</span>
      <p class="small">left to upload works</p>
    </div>
    <div class="clearfix"></div>
    <div>
      <div class="left">
        <div>
          <span class="rating">#{{duel.leftUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.leftUser.user.fullname}}</h3>
          <span *ngIf="duel.leftUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="right-user-block right">
        <div>
          <span class="rating">#{{duel.rightUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.rightUser.user.fullname}}</h3>
          <span *ngIf="duel.rightUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- End In progress status -->
  <!-- Voting status -->
  <div *ngIf="duel.status === duelStatus.Voting" class="voting">
    <div class="center">
      <p class="category">{{duel.duelCategory.name}}</p>
    </div>
    <div class="left">
      <div class="work-status-block">
        <img width="158" height="144" alt="Preview Image" src="{{duel.leftUser.previewImageUrl.url}}">
      </div>
      <div *ngIf="leftUserModalId !== undefined" class="work-status-block open-modal-hover" (click)="openModal(leftUserModalId)">
        Open solution
      </div>
    </div>
    <div class="right">
      <div class="work-status-block">
        <img width="158" height="144" alt="Preview Image" src="{{duel.rightUser.previewImageUrl.url}}">
      </div>
      <div *ngIf="rightUserModalId !== undefined" class="work-status-block open-modal-hover" (click)="openModal(rightUserModalId)">
        Open solution
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="digits-block center">
      <span class="digits">{{duel.date}}</span>
      <p class="small">until voting ends</p>
    </div>
    <div #votingWrapper class="center voting-wrapper">
      <div class="percentage-block">
        <div class="left voting-digits">{{getPercentageValue(duel.leftUser.votesAmount, duel.leftUser.votesAmount + duel.rightUser.votesAmount)}}%</div>
        <div class="right voting-digits">{{getPercentageValue(duel.rightUser.votesAmount, duel.leftUser.votesAmount + duel.rightUser.votesAmount)}}%</div>
      </div>
      <div class="clearfix"></div>
      <div class="voting-bar-container">
        <div class="lost-voting-bar-wrapper">
          <div #lostVotingBar id="lost-voting-bar" class="voting-bar"></div>
        </div>
        <div class="win-voting-bar-wrapper">
          <div #winVotingBar id="win-voting-bar" class="voting-bar cover"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="votes-amount-container">
        <div class="left voting-digits small">{{duel.leftUser.votesAmount}}</div>
        <div class="right voting-digits small">{{duel.rightUser.votesAmount}}</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div>
      <div class="left">
        <div>
          <span class="rating">#{{duel.leftUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.leftUser.user.fullname}}</h3>
          <span *ngIf="duel.leftUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="right-user-block right">
        <div>
          <span class="rating">#{{duel.rightUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.rightUser.user.fullname}}</h3>
          <span *ngIf="duel.rightUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="duel.leftUser.isSelected || duel.rightUser.isSelected" class="votes-circle">
      <div class="circle" [class.selected]="duel.leftUser.isSelected"></div>
      <div class="circle" [class.selected]="duel.rightUser.isSelected"></div>
    </div>
  </div>
  <!-- End Voting status -->
  <!-- Ended status -->
  <div *ngIf="duel.status === duelStatus.Ended" class="voting">
    <div class="center">
      <p class="category">{{duel.duelCategory.name}}</p>
    </div>
    <div class="left">
      <div class="work-status-block">
        <img width="158" height="144" alt="Preview Image" src="{{duel.leftUser.previewImageUrl.url}}">
      </div>
      <div *ngIf="leftUserModalId !== undefined" class="work-status-block open-modal-hover" (click)="openModal(leftUserModalId)">
        Open solution
      </div>
    </div>
    <div class="right">
      <div class="work-status-block">
        <img width="158" height="144" alt="Preview Image" src="{{duel.rightUser.previewImageUrl.url}}">
      </div>
      <div *ngIf="rightUserModalId !== undefined" class="work-status-block open-modal-hover" (click)="openModal(rightUserModalId)">
        Open solution
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="digits-block center">
      <span class="digits">{{duel.date}}</span>
      <p class="small">duel has ended</p>
    </div>
    <div #votingWrapper class="center voting-wrapper">
      <div class="percentage-block">
        <div class="left voting-digits">{{getPercentageValue(duel.leftUser.votesAmount, duel.leftUser.votesAmount + duel.rightUser.votesAmount)}}%</div>
        <span class="left winner-label" *ngIf="duel.leftUser.votesAmount > duel.rightUser.votesAmount">Won</span>
        <span class="draw-label" *ngIf="duel.leftUser.votesAmount === duel.rightUser.votesAmount">Draw</span>
        <div class="right voting-digits">{{getPercentageValue(duel.rightUser.votesAmount, duel.leftUser.votesAmount + duel.rightUser.votesAmount)}}%</div>
        <span class="right winner-label" *ngIf="duel.leftUser.votesAmount < duel.rightUser.votesAmount">Won</span>
      </div>
      <div class="clearfix"></div>
      <div class="voting-bar-container">
        <div class="lost-voting-bar-wrapper">
          <div #lostVotingBar class="voting-bar"></div>
        </div>
        <div class="win-voting-bar-wrapper">
          <div #winVotingBar class="voting-bar cover ended"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="votes-amount-container">
        <div class="left voting-digits small">{{duel.leftUser.votesAmount}}</div>
        <div class="right voting-digits small">{{duel.rightUser.votesAmount}}</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div>
      <div class="left">
        <div>
          <span class="rating">#{{duel.leftUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.leftUser.user.fullname}}</h3>
          <span *ngIf="duel.leftUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="right-user-block right">
        <div>
          <span class="rating">#{{duel.rightUser.rating}}</span>
        </div>
        <div>
          <h3>{{duel.rightUser.user.fullname}}</h3>
          <span *ngIf="duel.rightUser.user.isPaidAccount" class="silver-label"></span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="duel.leftUser.isSelected || duel.rightUser.isSelected" class="votes-circle">
      <div class="circle" [class.selected]="duel.leftUser.isSelected"></div>
      <div class="circle" [class.selected]="duel.rightUser.isSelected"></div>
    </div>
  </div>
  <!-- End Ended status -->
</div>