/* Libraries */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&subset=cyrillic,hebrew,latin-ext');

/* Fonts */
@font-face {
    font-family: 'Menoe Grotesque Pro';
    src: url('/assets/fonts/MenoeGrotesquePro.eot');
    src: url('/assets/fonts/MenoeGrotesquePro.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/MenoeGrotesquePro.woff2') format('woff2'),
        url('/assets/fonts/MenoeGrotesquePro.woff') format('woff'),
        url('/assets/fonts/MenoeGrotesquePro.ttf') format('truetype'),
        url('/assets/fonts/MenoeGrotesquePro.svg#MenoeGrotesquePro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Menoe Grotesque Pro Italic';
    src: url('/assets/fonts/MenoeGrotesquePro-Italic.eot');
    src: url('/assets/fonts/MenoeGrotesquePro-Italic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/MenoeGrotesquePro-Italic.woff2') format('woff2'),
        url('/assets/fonts/MenoeGrotesquePro-Italic.woff') format('woff'),
        url('/assets/fonts/MenoeGrotesquePro-Italic.ttf') format('truetype'),
        url('/assets/fonts/MenoeGrotesquePro-Italic.svg#MenoeGrotesquePro-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Media Queries*/
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Global Styles */
html {
    position:relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    min-height: 100%;
}

html, body {
    margin:0;
    padding:0;
}

.left { 
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.inline {
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.votes-circle .circle {
    width: 12px;
    height: 12px;
    border: 2px solid #C1C7CB;
    border-radius: 50%;
    display: inline-block;
}

.votes-circle .circle.selected {
    border: 2px solid #F55045;
    background-color: #F55045;
}

.clickable {
    cursor: pointer;
}

.pager-block {
    width: 500px;
    text-align: center;
}

.pager-block > div {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
}

.pager-block > div.active {
    cursor: pointer;
}

.pager-block > div.selected {
    background-color: #DCDCDC;
}

.clickable {
    outline: 0;
    border: 0;
}

.container {
    padding: 0;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: -20px;
}

.modal-body {
    padding: 0;
}

.modal-content {
    border-radius: 0;
    border: 1px solid #D8E2E9;
}

.modal-backdrop {
    background: #C1C7CB;
}

.modal-backdrop.show {
    opacity: 0.3;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

.open-task-button {
    background: url('/assets/img/general/open-task-icon.svg') 0% 50% no-repeat;
    padding-left: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #26AFFF;
}

.silver-label {
    width: 16px;
    height: 16px;
    background: url('/assets/img/general/silver-label-icon.svg') 50% 50% no-repeat;
    display: inline-block;
}

.tooltip-label {
    width: 15px;
    height: 15px;
    background: url('/assets/img/general/tooltip-icon.svg') 50% 50% no-repeat;
    display: inline-block;
    cursor: pointer;
}

.tooltip-label.inverse {
    background: url('/assets/img/general/tooltip-icon-inverse.svg') 50% 50% no-repeat;
}

.duels-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.duels-end-block-message {
    text-align: center;
    margin-top: 72px;
}

.duels-end-block-message h2 {
    color: #5D5D5D;
    margin-bottom: 12px;
}

.duels-end-block-button {
    text-align: center;
    margin-top: 50px;
}

.modal::-webkit-scrollbar,
.modal.show::-webkit-scrollbar { 
    width: 0 !important; 
}

.modal,
.modal.show { 
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

a[href^="mailto:"],
a[href^="mailto:"]:hover,
a[href^="mailto:"]:focus
{ 
    color: #f55045;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a[href^="mailto:"]:hover {
    color: #A04437;
    transition: all .2s ease-in-out;
}

/* End Global Styles */

/* Buttons */
.button {
    height: 50px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    color: #5D5D5D !important; 
    border: 2px solid #FFE226;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 37px;
    padding-right: 37px;
    letter-spacing: -0.2px;
    transition: all 0.1s ease-in-out;
}

.button:hover {
    background: rgba(255, 226, 38, 0.3);
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.button:hover,
.button:focus {
    border: 2px solid #FFE226;
}

.button.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.button.primary-button {
    border: 0;
    background: #FFE226;
    box-shadow: 0px 4px 14px rgba(255, 226, 38, 0.5);
}

.button.primary-button:hover {
    background: linear-gradient(180deg, rgba(245, 80, 69, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #FFE226;
}

.button.primary-button.disabled span {
    opacity: .5;
}

.button.secondary-button.disabled {
    opacity: .5;
}
/* End Buttons */

/* Checkbox */
.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-family: Menoe Grotesque Pro;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    transition: all .2s ease-in-out;
}

.styled-checkbox + label.error {
    color: #F55045;
    transition: all .2s ease-in-out;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #D8E2E9;
    border-radius: 1px;
    float: left;
    margin-bottom: 25px;
    margin-top: 1px;
    transition: all .2s ease-in-out;
}

.styled-checkbox + label.error:before {
    border: 2px solid #F55045;
    transition: all .2s ease-in-out;
}

.styled-checkbox + label > span {
    position: relative;
    top: 1px;
}

.styled-checkbox + label > span > a {
    color: #F55045 !important;
    border-bottom: 1px dotted #F55045 !important;
    transition: all .2s ease-in-out;
}

.styled-checkbox + label > span > a:hover {
    color: #A04437 !important;
    border-bottom: 1px dotted #A04437 !important;
    transition: all .2s ease-in-out;
}

.styled-checkbox + label > span > a:hover {
    text-decoration: none;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 5.6px;
    top: 6.9px;
    background: url('/assets/img/signing/checkbox-icon.svg');
}
/* End Checkbox*/

/* Brand Typefaces */

h1, h2, h3 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    color: #262626;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 37px;
    line-height: 50px;
    letter-spacing: -0.03em;   
}

h2 {
    font-size: 27px;
    line-height: 37px; 
}

h3 {
    font-size: 17px;
    line-height: 23px; 
}

p {
    font-family: Menoe Grotesque Pro;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    font-feature-settings: 'liga';
}

p.small {
    font-size: 12px;
}

p.numeric {
    font-family: Menoe Grotesque Pro;
    font-size: 25px;
    line-height: normal;
    color: #262626;
}

p.error {
    color: #F55045;
}

p > a {
    color: #F55045 !important;
    border-bottom: 1px dotted #F55045 !important;
    transition: all .2s ease-in-out;
}

p > a:hover {
    color: #A04437 !important;
    border-bottom: 1px dotted #A04437 !important;
    transition: all .2s ease-in-out;
}

input, textarea {
    font-family: Menoe Grotesque Pro;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
}

textarea {
    resize: none;
}

/* End Brand Typefaces */

/* Menu */

.menu-wrapper {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.menu-wrapper .menu {
    visibility: hidden;
    width: 120px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 30px rgba(193, 199, 203, 0.4);
    overflow: visible;
    z-index: 9999;
    background-color: #fff;
}

.menu-wrapper:hover .menu {
    visibility: visible;
    opacity: 1;
}

.menu-wrapper .menu::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* End Menu */

/* Duel Component */

.duel-wrapper {
    width: 590px;
    height: 250px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Duel Component End */

/* Tooltip */

.custom-tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
}
  
.custom-tooltip .tooltiptext {
    visibility: hidden;
    /* min-width: 100px; */
    background-color: #D8E2E9;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 175%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: Menoe Grotesque Pro;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    padding: 12px;
    display: inline-block;
    white-space: nowrap;
}

.custom-tooltip .tooltiptext.text-left {
    text-align: left;
}
  
.custom-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #D8E2E9 transparent transparent transparent;
}
  
.custom-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* End Tooltip */

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #D8E2E9;
}
  
.switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: #D8E2E9;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.switch input:checked + .slider {
    background-color: #F55045;
    border: 2px solid #F55045;
}
  
.switch input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
    background-color: #fff;
}
  
.switch .slider.round {
    border-radius: 34px;
}
  
.switch .slider.round:before {
    border-radius: 50%;
}

/* End Switch  */

/* Radiobutton */

.custom-radio.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
}

.custom-radio.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.custom-radio .checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 22px;
    border: 2px solid #D8E2E9;
    border-radius: 50%;
}
  
.custom-radio.container:hover input ~ .checkmark {
    border: 2px solid #C1C7CB;
}
  
.custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.custom-radio.container input:checked ~ .checkmark:after {
    display: block;
}
  
.custom-radio.container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F55045;
}

/* End Radiobutton  */

/* Datepicker */

.datepicker-wrapper {
    position: relative;
}

.datepicker {
    background: #FFFFFF;
    box-shadow: 0px 14px 34px rgba(165, 180, 209, 0.4);
    width: 256px;
    height: 235px;
    position: absolute;
    z-index: 9999;
}

.datepicker .ui-datepicker {
    padding-top: 20px;
}

.datepicker .ui-datepicker-header {
    height: 30px;
    margin-bottom: 5px;
}

.datepicker .ui-datepicker-calendar {
    width: 220px;
    margin: 0 auto;
}

.datepicker .ui-datepicker-prev,
.datepicker .ui-datepicker-next {
    width: 57px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
}

.datepicker .ui-datepicker-prev {
    float: left;
    background: url('/assets/img/datepicker/left-arrow.svg') 50% 50% no-repeat;
}

.datepicker .ui-datepicker-next {
    float: right;
    background: url('/assets/img/datepicker/right-arrow.svg') 50% 50% no-repeat;
}

.datepicker .ui-datepicker-title {
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #262626;
    position: relative;
    top: 9px;
    width: 183px;
    margin: 0 auto;
}

.datepicker .ui-datepicker th {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #C1C7CB;
    text-align: center;
}

.datepicker .ui-datepicker th span {
    line-height: 20px;
}

.datepicker .ui-datepicker td {
    text-align: center;
    height: 28px;
}

.datepicker .ui-datepicker td a,
.datepicker .ui-datepicker td a:hover,
.datepicker .ui-datepicker td a:focus,
.datepicker .ui-datepicker td span,
.datepicker .ui-datepicker td span:hover,
.datepicker .ui-datepicker td span:focus {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    text-decoration: none;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    width: 21px;
    height: 21px;
}

.datepicker .ui-datepicker td.ui-datepicker-other-month span,
.datepicker .ui-datepicker td.ui-datepicker-unselectable span {
    color: #C1C7CB;
}

.datepicker .ui-datepicker td a.ui-state-active {
    background: #F55045;
    color: #fff;
}

.datepicker .ui-datepicker td.ui-datepicker-today a,
.datepicker .ui-datepicker td.ui-datepicker-today span {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(193,199,203,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(193,199,203,1);
    box-shadow: 0px 0px 0px 1px rgba(193,199,203,1);
}

/* End Datepicker */