<div id="{{alertService.alertWrapperId}}" class="alert-wrapper">
  <div id="{{alertService.alertContainerId}}" class="alert-container">
    <span *ngIf="alertService.isSuccess" class="alert-icon success"></span>
    <span *ngIf="!alertService.isSuccess" class="alert-icon error"></span>
    <p [class.error]="!alertService.isSuccess">{{alertService.currentMessage}}</p>
  </div>
</div>