.alert-wrapper {
    position: fixed;
    width: 100%;
    text-align: center;
    top: -90px;
    z-index: 9999;
    opacity: 0;
}

.alert-container {
    background: #FFE226;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0px 14px 34px rgba(255, 226, 38, 0.4);
    font-family: 'Menoe Grotesque Pro';
    color: #262626;
    font-size: 14px;
    letter-spacing: -0.02em;
    display: inline-block;
    position: relative;
}

.alert-container p {
    display: inline;
    padding-right: 24px;
    padding-left: 5px;
    position: relative;
    top: 13px;
}

.alert-container p.error {
    color: #F55045;
}

.alert-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 17px;
    margin-left: 20px;
}

.alert-icon.success {
    background: url("../../../assets/img/alert/alert-icon-1.svg");
}

.alert-icon.error {
    background: url("../../../assets/img/alert/alert-icon-2.svg");
}