<div>
  <div class="logo-header">
    <div>
      <img src="../../../assets/img/main-logo.svg">
      <span> | Control Panel</span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div *ngIf="authService.loggedIn()">
      <button routerLink="/overview">Overview</button>
      <button routerLink="/duels">Duels</button>
      <button routerLink="/users">Users</button>
      <button routerLink="/reports">Reports</button>
    </div>
</div>