<div>
  <button (click)="changeReportType(reportEntityType.Comment)">Comments</button>
  <button (click)="changeReportType(reportEntityType.Duel)">Duels</button>
</div>
<div *ngIf="reportType === reportEntityType.Comment">
  <div *ngIf="reports">
    <div *ngIf="reports.length === 0">No reports.</div>
    <div *ngIf="reports.length > 0">
      <div *ngFor="let report of reports">
        <div class="report-wrapper left">
          <h6 class="left">{{report.reporterFullname}} reported comment</h6>
          <h6 class="right">{{dateFormatter.toRelativeFormat(report.reportTimestamp)}}</h6>
          <div class="clearfix"></div>
          <div>
            <p>{{report.authorFullname}}</p>
            <p>{{report.commentText}}</p>
            <p>{{dateFormatter.toRelativeFormat(report.commentTimestamp)}}</p>
          </div>
        </div>
        <div class="right">
          <button>Delete Comment</button>
          <button>Ban User</button>
          <button>Resolve Report</button>
        </div>
        <div class="clearfix"></div>
        <hr>
      </div>
    </div>
  </div>
</div>
<div *ngIf="reportType === reportEntityType.Duel">
  <div *ngIf="reports">
    <div *ngIf="reports.length === 0">No reports.</div>
  </div>
</div>