<div *ngIf="currentUser">
  <div *ngIf="currentUser.isPaidAccount">
    <h2>Your subscription is active, enjoy!</h2>
    <p>Thank you for the support, we greatly appreciate that.</p>
    <h3>December 23, 2019</h3>
    <p>Renews at</p>
  </div>
  <div *ngIf="!currentUser.isPaidAccount">
    <h2>Unleash amazing features and show your support</h2>
    <p>Duelity Silver is a great way to unleash new features & break all limitations. You will love it</p>
    <h3>$2/mo</h3>
    <p>Billed Annually</p>
    <button>Purchase</button>
  </div>
  <h2 *ngIf="currentUser.isPaidAccount">Thanks and enjoy your new features</h2>
  <div>
    <h1>Big block of features</h1>
  </div>
  <div *ngIf="!currentUser.isPaidAccount">
    <h3>And all of that for the price of a pizza slice!</h3>
    <p>Cancel anytime, but you won’t</p>
    <div>
      <h3>Viola Kharysh</h3>
      <p>
        I love Duelity Silver because it let’s me grow as a digital designer so much. 
        Nothing encourages more than the feel of competition. 
        It’s also great so see how the same task can be solved in so different ways.
      </p>
      <h3>$2/mo</h3>
      <p>Billed Annually</p>
      <button>Purchase</button>
    </div>
  </div>
</div>