.popular-duels {
    margin-bottom: 100px;
    margin-top: 100px;
}

.ad {
    height: 400px;
    background-color: rgba(255, 226, 38, 0.2);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 40px;
    margin-bottom: 65px;
}

.ad h1 {
    width: 600px;
    margin-top: 24px;
    margin-bottom: 10px;
}

.ad p {
    width: 360px;
    margin-bottom: 70px;
}

#ad-content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

h2.main-heading {
    margin-bottom: 25px;
}

.avatars-block {
    position: relative;
    right: 10px;
}

.avatars-label {
    position: relative;
    /* right: -16px; */
}

.avatar {
    position: relative;
    cursor: pointer;
}

button.additional-users {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-family: Menoe Grotesque Pro;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    background-color: #D8E2E9;
    color: #5D5D5D;
    position: relative;
    top: -1px;
}

.profile-avatar {
    position: relative;
    top: 0px;
    transition: all .1s ease-in-out;
}

.profile-avatar:hover {
    top: -8px;
    transition: all .1s ease-in-out;
}