<app-back-to-top></app-back-to-top>
<div class="popular-duels">
    <div *ngIf="authService.getCurrentUser() === null" class="ad">
        <div id="ad-content">
            <div class="left">
                <h1>Try yourself in one on one design duels with equal opponents</h1>
                <p>Create an account to start and accept duels from more than {{getRoundedUserAmount()}} designers</p>
                <a class="button primary-button" (click)="registerService.goToRegister()">
                    <span>Create Account</span>
                </a>
            </div>
            <div class="right">
                <img width="409" height="321" src="../../../assets/img/popular/ad-illustration.png">
            </div>
        </div>
    </div>
    <div *ngIf="duels !== undefined && duels.length > 0">
        <app-user-list></app-user-list>
        <div>
            <h2 class="left main-heading">Popular Duels</h2>
            <div *ngIf="authService.getCurrentUser() !== null" class="right" [class.avatars-block]="totalUserCount < previewUserAmount">
                <p class="inline avatars-label">Most skilled designers</p>
                <div class="inline">
                    <div *ngFor="let user of previewUsers" class="avatar inline custom-tooltip">
                        <span class="tooltiptext">{{user.fullname}}</span>
                        <app-profile-picture (click)="goToPerson(user.username)" elementClass="x-small" fullname={{user.fullname}} userId={{user.id}}
                            backgroundImage={{user.imageUrl}} backgroundColor={{user.imageColor}} hasBorder="true" class="profile-avatar">
                        </app-profile-picture>
                    </div>
                </div>
                <button class="inline additional-users" (click)="openUserList()" *ngIf="totalUserCount > previewUserAmount">+{{totalUserCount - previewUserAmount}}</button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="duels-container">
            <div *ngFor="let duel of duels" (click)="openVotePage(duel)" class="duel-wrapper">
                <app-duel [duel]="duel" [duelOwner]="currentUserId" (notify)="onNotify($event)"></app-duel>
            </div>
        </div>
        <div *ngIf="duels.length < totalDuelsAmount" class="duels-end-block-button">
            <a class="button secondary-button" (click)="loadNextPage()">
                <span>Load More</span>
            </a>
        </div>
        <div *ngIf="duels.length >= totalDuelsAmount" class="duels-end-block-message">
            <h2>Wow, you’ve reached the end of the list</h2>
            <p>Good job exploring popular duels. Try looking through featured ones now!</p>
        </div>
    </div>
    <div *ngIf="duels === undefined || duels.length === 0">
        <h1>No duels.</h1>
    </div>
</div>
<div class="clearfix"></div>