<div id="work-edit" *ngIf="success !== null">
  <div *ngIf="!success">
    <h1>{{message}}</h1>
  </div>
  <div *ngIf="success">
    <div>
      <div class="top">
        <div class="left">
          <div class="top-header" *ngIf="currentUserInfo.imageUrls.length === 0">
            <h1>Uploading work</h1>
            <p>You are uploading work for a duel with {{opponentUserInfo.user.fullname}}</p>
          </div>
          <div class="top-header" *ngIf="currentUserInfo.imageUrls.length > 0">
            <h1>Editing</h1>
            <p>You are editing work for a duel with {{opponentUserInfo.user.fullname}}</p>
          </div>
          <div class="users-info">
            <div class="users-info-block" [class.uploaded]="currentUserInfo.imageUrls.length > 0">
              <app-profile-picture class="user-avatar" elementClass="x-small" userId={{currentUserInfo.user.id}} fullname={{currentUserInfo.user.fullname}}
                backgroundImage={{currentUserInfo.user.imageUrl}} backgroundColor={{currentUserInfo.user.imageColor}}>
              </app-profile-picture>
              <div class="users-info-metadata">
                <h3>You
                  <svg *ngIf="currentUserInfo.imageUrls.length === 0" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.418 16 16 12.4183 16 8C16 3.58173 12.418 0 8 0C3.58203 0 0 3.58173 0 8C0 12.4183 3.58203 16 8 16ZM6 4H8V8H11V10H6V4Z"
                      fill="#C1C7CB" />
                  </svg>
                  <svg *ngIf="currentUserInfo.imageUrls.length > 0" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.89827 16L0 9.87659L1.6 8L5.67784 12.221L15.6 0L17.6 1.14802L5.89827 16Z"
                      fill="#31D431" />
                  </svg>
                </h3>
                <p *ngIf="currentUserInfo.imageUrls.length === 0">Not uploaded yet</p>
                <p *ngIf="currentUserInfo.imageUrls.length > 0">Work uploaded</p>
              </div>
            </div>
            <div class="users-info-block" [class.uploaded]="opponentUserInfo.imageUrls.length >  0">
              <app-profile-picture class="user-avatar" elementClass="x-small" userId={{opponentUserInfo.user.id}} fullname={{opponentUserInfo.user.fullname}}
                backgroundImage={{opponentUserInfo.user.imageUrl}} backgroundColor={{opponentUserInfo.user.imageColor}}>
              </app-profile-picture>
              <div class="users-info-metadata">
                <h3>{{opponentUserInfo.user.fullname}}
                  <svg *ngIf="opponentUserInfo.imageUrls.length === 0" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.418 16 16 12.4183 16 8C16 3.58173 12.418 0 8 0C3.58203 0 0 3.58173 0 8C0 12.4183 3.58203 16 8 16ZM6 4H8V8H11V10H6V4Z"
                      fill="#C1C7CB" />
                  </svg>
                  <svg *ngIf="opponentUserInfo.imageUrls.length > 0" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.89827 16L0 9.87659L1.6 8L5.67784 12.221L15.6 0L17.6 1.14802L5.89827 16Z"
                      fill="#31D431" />
                  </svg>
                </h3>
                <p *ngIf="opponentUserInfo.imageUrls.length === 0">Not uploaded yet</p>
                <p *ngIf="opponentUserInfo.imageUrls.length > 0">Work uploaded</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="task-section">
            <h3 class="section-header">Duel Task</h3>
            <p #duelTaskBlock>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button #expandButton id="expand-button" (click)="toogleTaskExpand()">
              <svg *ngIf="isExpandedTask" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.03651 3.03692C0.853177 5.22025 0.853177 8.77318 3.03651 10.9565C5.21984 13.1398 8.77277 13.1398 10.9561 10.9565C13.1394 8.77318 13.1394 5.22025 10.9561 3.03692C8.77277 0.853584 5.21984 0.853584 3.03651 3.03692ZM11.9465 11.9465C9.21717 14.6758 4.77626 14.6758 2.04697 11.9465C-0.682323 9.21717 -0.682323 4.77626 2.04697 2.04697C4.77626 -0.682323 9.21717 -0.682323 11.9465 2.04697C14.6758 4.77626 14.6758 9.21717 11.9465 11.9465Z"
                  fill="#26AFFF" />
                <path d="M3.03779 6.29657V7.69635L10.9574 7.69635V6.29657L3.03779 6.29657Z" fill="#26AFFF" />
              </svg>
              <svg *ngIf="!isExpandedTask" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.03794 3.03834C0.853578 5.2227 0.853578 8.7773 3.03794 10.9617C5.22229 13.146 8.77689 13.146 10.9612 10.9617C13.1456 8.7773 13.1456 5.2227 10.9612 3.03834C8.77689 0.853985 5.22229 0.853985 3.03794 3.03834ZM11.9521 11.9521C9.2215 14.6826 4.7785 14.6826 2.04793 11.9521C-0.682643 9.2215 -0.682643 4.7785 2.04793 2.04793C4.7785 -0.682643 9.2215 -0.682643 11.9521 2.04793C14.6826 4.7785 14.6826 9.2215 11.9521 11.9521Z"
                  fill="#26AFFF" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70109 3.03809L6.30064 3.03809V6.29952L3.03921 6.29952V7.69997H6.30064V10.9614H7.70109L7.70159 7.70046L10.9625 7.69997V6.29952L7.70109 6.29952V3.03809Z"
                  fill="#26AFFF" />
              </svg>
              <span>{{expandTaskButtonText}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="upload-container">
        <div class="width-label top-label">
          <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.76 1L1 7M1 7L6.76 13M1 7H13" stroke="#C1C7CB" />
          </svg>
          1200px
          <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.24 1L12 7M12 7L6.24 13M12 7H0" stroke="#C1C7CB" />
          </svg>
        </div>
        <div class="upload-content">
          <img width="339" height="166" src="../../../assets/img/upload-work/upload-container-illustration.png">
          <h2>Nothing here... yet!</h2>
          <p>Drop files at me to upload them</p>
          <p class="delimiter">or</p>
          <a class="button primary-button">
            <span>Upload Files</span>
          </a>
          <p class="small">JPG, PNG or GIF, 10MB Max</p>
        </div>
        <div class="width-label bottom-label">
          <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.76 1L1 7M1 7L6.76 13M1 7H13" stroke="#C1C7CB" />
          </svg>
          1200px
          <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.24 1L12 7M12 7L6.24 13M12 7H0" stroke="#C1C7CB" />
          </svg>
        </div>
      </div>
      <div class="work-info-block">
        <div class="bottom">
          <div class="left">
            <h3 class="block-header">Work Preview</h3>
            <div class="work-preview-block">
              <div>
                <input type="file" name="file" id="file" class="inputfile" (change)="onPreviewImageUpload($event)" />
                <label for="file">
                  <div class="inline">
                    <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4393 4.707L10.7323 0L6.02527 4.707L7.43927 6.121L9.73227 3.828V12.414H11.7323V3.828L14.0253 6.121L15.4393 4.707Z"
                        fill="black" />
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.12 22L3.453 18H18.012L19.345 22H2.12ZM21.3649 21.735L19.7319 16.837V8C19.7319 7.448 19.2849 7 18.7319 7H15.7319V9H17.7319V16H3.73195V9H5.73195V7H2.73195C2.17995 7 1.73195 7.448 1.73195 8V16.837L0.0999475 21.734C-0.0860525 22.292 -0.0100525 22.864 0.307948 23.306C0.624948 23.747 1.14395 24 1.73195 24H19.7319C20.3199 24 20.8389 23.747 21.1569 23.306C21.4749 22.864 21.5509 22.292 21.3649 21.735Z"
                        fill="black" />
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7323 21H8.7323V19H12.7323V21Z" fill="black" />
                    </svg>
                  </div>
                  <div class="main-label">Upload Work</div>
                  <p class="small">JPG or PNG, 5MB Max at least 220x200</p>
                </label>
              </div>
              <!-- <input type="file" value="Upload Preview" (change)="onPreviewImageUpload($event)" /> -->
              <img *ngIf="cloudinaryService.previewImageFile" src="" imgPreview [image]="cloudinaryService.previewImageFile" class="preview-image"
                (click)="removeTemporaryImages([], true)" />
              <img *ngIf="!cloudinaryService.previewImageFile && currentUserInfo.previewImageUrl.url" src="{{currentUserInfo.previewImageUrl.url}}"
                class="preview-image" (click)="removePreviewImage()" />
            </div>
          </div>
          <div class="right">
            <h3 class="block-header">Work Description</h3>
            <div class="input-wrapper work-description">
              <app-input (onValueChange)="onSelectedTaskText($event)" [value]="currentUserInfo.workDescription" [placeholder]="'Work Description'"
                [type]="inputType.Textarea" [elementClass]="'big-textarea'"></app-input>
            </div>
          </div>
          <div class="clearfix"></div>
          <br>
          <div class="save-block">
            <a class="button secondary-button" (click)="cancelUploading()">
              <span>Cancel</span>
            </a>
            <a class="button primary-button" title="{{buttonTooltip}}" (click)="uploadWork()" [class.disabled]="canSave()">
              <span *ngIf="currentUserInfo.imageUrls.length === 0">Upload My Work</span>
              <span *ngIf="currentUserInfo.imageUrls.length > 0">Save Edits</span>
            </a>
            <p class="inline save-label" *ngIf="opponentUserInfo.imageUrls.length === 0">Your opponent didn’t upload his work yet. This means after uploading you will still be able to edit it until
              your opponent is ready.</p>
            <p class="inline save-label" *ngIf="opponentUserInfo.imageUrls.length > 0">Your opponent already uploaded his work. This means after uploading duel will go public and voting will automatically
              start.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>