#work-edit {
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-header p {
    margin-top: 20px;
}

.users-info div {
    display: inline-block;
}

.user-image {
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.users-info-block {
    padding-right: 25px;
    padding-left: 15px;
    background-color: rgba(216, 226, 233, .3);
}

.users-info-block:first-child {
    margin-right: 20px;
}

.users-info-block .user-avatar {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 10px;
}

.users-info-block .users-info-metadata {
    position: relative; 
    top: 13px;
}

.users-info-block .users-info-metadata h3 {
    color: #5D5D5D;
}

.users-info-block .users-info-metadata h3 svg {
    position: relative;
    top: -1px;
    margin-left: 5px;
}

.users-info-block.uploaded .users-info-metadata h3 {
    color: #31D431;
}

.users-info-block p {
    margin: 0;
}

.users-info-block.uploaded {
    background-color: rgba(49, 212, 49, .1);
}

.right > div {
    width: 400px;
}

.uploaded-image {
    display: block;
}

.upload-work-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.top {
    width: 1200px;
    margin: 0 auto;
}

.bottom {
    width: 795px;
    margin: 0 auto;
}

.work-preview-block {
    width: 220px;
    height: 200px;
    border: 1px solid #D8E2E9;
}

.preview-image {
    width: 220px;
    height: 200px;
    margin-top: -245px;
    position: relative;
    z-index: 1000;
}

.uploaded-image {
    cursor: pointer;
}

.task-section {
    min-height: 249px;
    margin-top: 30px;
}

.task-section p {
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.task-section #expand-button {
    border: 0;
    outline: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #26AFFF;
    transition: all .2s ease-in-out;
    background-color: transparent;
    padding: 0;
    padding-bottom: 20px;
}

.task-section #expand-button span {
    position: relative;
    top: 2px;
    left: 2px;
}

.task-section #expand-button:hover,
.task-section #expand-button:focus {
    border: 0;
    outline: 0;
}

.task-section #expand-button:hover {
    color: #2686BE;
    transition: all .2s ease-in-out;
}

.task-section #expand-button svg.spin {
    -webkit-animation: expand-button-spin .2s linear infinite;
    -moz-animation: expand-button-spin .2s linear infinite;
    animation: expand-button-spin .2s linear infinite;
}

.work-info-block .block-header {
    margin-bottom: 17px;
}

.work-info-block .work-description {
    width: 534px;
}

.save-block .button {
    margin-right: 20px;
}

.save-block .save-label {
    width: 414px;
    position: relative;
    top: 24px;
    left: 7px;
}

@-moz-keyframes expand-button-spin 
{ 
    100% 
    { 
        -moz-transform: rotate(-110deg); 
    } 
}

@-webkit-keyframes expand-button-spin 
{ 
    100% 
    { 
        -webkit-transform: rotate(-110deg); 
    } 
}

@keyframes expand-button-spin 
{ 
    100% 
    { 
        -webkit-transform: rotate(-110deg); 
        transform:rotate(-110deg); 
    } 
}

.task-section #expand-button path {
    transition: all .2s ease-in-out;
}

.task-section #expand-button:hover path {
    fill: #2686BE;
    transition: all .2s ease-in-out;
}

.task-section .section-header {
    margin-bottom: 20px;
}

.task-section .section-header span.additional-info {
    margin-left: 6px;
}

.upload-container {
    width: 1200px;
    height: 600px;
    background: url("../../../assets/img/upload-work/upload-container-background.svg") 50% 50% no-repeat;
    position: relative;
    text-align: center;
}

.upload-container .width-label {
    width: 120px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    background-color: #fff;
    color: #a9a9a9;
}

.upload-container .width-label svg:first-child {
    position: relative;
    left: -3px;
    top: -1px;
}

.upload-container .width-label svg:last-child {
    position: relative;
    right: -3px;
    top: -1px;
}

.upload-container .width-label.top-label {
    top: -11px;
}

.upload-container .width-label.bottom-label {
    bottom: -11px;
}

.upload-container .upload-content img {
    margin-top: 70px;
    margin-bottom: 20px;
}

.upload-container .upload-content .delimiter {
    opacity: .5;
    margin-top: 60px;
    margin-bottom: 60px;
}

.upload-container .upload-content p.small {
    opacity: .5;
    margin-top: 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    width: 220px;
    height: 200px;
    text-align: center;
}

.inputfile + label svg {
    margin-top: 53px;
    margin-bottom: 17px;
}

.inputfile + label .main-label {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #262626;
}

.inputfile + label p.small {
    opacity: .5;
    width: 137px;
    margin: 0 auto;
    line-height: 16px;
}

.work-info-block {
    margin-top: 67px;
}

/* Test styles */
.manipulation-video {
    margin: 10px 0;
}

.actions { margin: 20px 0; }
.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0;
    font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0;
    font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }

.introducing-cloudinary {
    max-width: 80%;
}

.static-photo img {
    max-width: 20%;
    position: absolute;
    right: 0;
}

.photo { margin: 10px; padding: 10px; border-top: 2px solid #ccc; }
.photo .thumbnail { margin-top: 10px; display: block; max-width: 200px; border: none; }
.toggle_info { margin-top: 10px; font-weight: bold; color: #e62401; display: block; }
.thumbnail_holder { height: 182px; margin-bottom: 5px; margin-right: 10px; }
.info td, .uploaded_info td { font-size: 12px }
.note { margin: 20px 0}

.inline { display: inline-block; }
td { vertical-align: top; padding-right: 5px; }

#direct_upload_jquery, #direct_upload {
    box-sizing: content-box;
}

#direct_upload_jquery, #direct_upload { 
    padding: 20px 20px;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
}

#direct_upload_jquery h1, #direct_upload h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

form { border: 1px solid #ddd; margin: 15px 0; padding: 15px 0; border-radius: 4px; }
form .form_line { margin-bottom: 20px; }
form .form_controls { margin-left: 180px; }
form label { float: left; width: 160px; padding-top: 3px; text-align: right; }
form .error { color: #c55; margin: 0 10px; }

#direct_upload, #direct_upload_jquery { border: 4px dashed #ccc; }
#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
.upload_button_holder {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.progress-bar{
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress{
  height: 4px;
  background-color: #ff0000;
  width: 0;
}
.preview img, .preview audio, .preview video {
    max-width: 300px;
    max-height: 150px;
}

.photo-listing.ng-enter,
.photo-listing.ng-leave,
.photo-listing.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.photo-listing.ng-enter,
.photo-listing.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.photo-listing.ng-move.ng-move-active,
.photo-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.photo-listing.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.photo-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

img.media-object {
    display: block;
    margin: 0 auto;
    width: 1200px;
    cursor: pointer;
}

/* cross fading between routes with ngView */

.view-container {
  position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* End of test styles */