<app-back-to-top></app-back-to-top>
<div class="new-duels">
    <h2 class="left main-heading">New Duels</h2>
    <div class="clearfix"></div>
    <div *ngIf="duels !== undefined && duels.length > 0" class="duels">
        <div class="duels-container">
            <div *ngFor="let duel of duels" (click)="openVotePage(duel)" class="duel-wrapper">
                <app-duel [duel]="duel" [duelOwner]="currentUserId" (notify)="onNotify($event)"></app-duel>
            </div>
        </div>
        <div *ngIf="duels.length < totalDuelsAmount" class="duels-end-block-button">
            <a class="button secondary-button" (click)="loadNextPage()">
                <span>Load More</span>
            </a>
        </div>
        <div *ngIf="duels.length >= totalDuelsAmount" class="duels-end-block-message">
            <h2>Wow, you’ve reached the end of the list</h2>
            <p>Good job exploring new duels. Try looking through following ones now!</p>
        </div>
    </div>
    <div *ngIf="duels === undefined || duels.length === 0">
        <h1>No duels.</h1>
    </div>
</div>
<div class="clearfix"></div>