.form {
    max-width: 488px;
    margin: 0 auto;
    margin-top: 100px;
}

.form h1 {
    margin-bottom: 8px;
}

.form > p {
    margin-bottom: 25px;
}

.form .button {
    margin-top: 10px;
    margin-bottom: 100px;
}

.form .input-wrapper {
    margin-bottom: 10px;
}