<div class="form" *ngIf="isCodeValid !== null && isCodeValid === false">
  <h1>Restore your Password</h1>
  <p>Enter email associated with your account below and we will send you instructions to restore access. Or you can go back
    to
    <a (click)="loginService.openModal()">Sign In</a>
  </p>
  <div class="input-wrapper">
    <app-input (onValueChange)="onEmailChange($event)" [value]="email" [placeholder]="'Email'" [type]="inputType.Text" [error]="emailErrorMessage"></app-input>
  </div>
  <a class="button primary-button" (click)="sendRestoreLink()">
    <span>Send Instructions</span>
  </a>
</div>
<div class="form" *ngIf="isCodeValid !== null && isCodeValid === true">
  <h1>Hey, nice to see you again!</h1>
  <p>Create a new password for you account. Don’t forget it this time!</p>
  <div class="input-wrapper">
    <app-input (onValueChange)="onPasswordChange($event)" [value]="password" [placeholder]="'New Password'" [type]="inputType.Password"
      [error]="passwordErrorMessage"></app-input>
  </div>
  <div class="input-wrapper">
    <app-input (onValueChange)="onSecondPasswordChange($event)" [value]="secondPassword" [placeholder]="'Repeat New Password'" [type]="inputType.Password"
      [error]="secondPasswordErrorMessage"></app-input>
  </div>
  <a class="button primary-button" (click)="savePassword()">
    <span>Save Password</span>
  </a>
</div>