.register {
    padding-top: 70px;
    padding-bottom: 37px;
}

.register h1 {
    margin-bottom: 15px;
}

.register .form {
    max-width: 420px;
    margin-top: 35px;
    display: inline-block;
}

.register .form .input-wrapper {
    margin-bottom: 14px;
}

.register .form .button {
    width: 100%;
    margin-top: 20px;
} 

.register .form .sign-in-with-label {
    margin-top: 115px;
    padding-bottom: 12px;
    border-bottom: 1px solid #D8E2E9;
    margin-bottom: 20px;
}

#google-button, #twitter-button {
    width: 202px;
    height: 50px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

#google-button {
    padding-left: 50px;
    background: #4285F4 url("../../../assets/img/general/google.svg") 13px 50% no-repeat;
    transition: all .1s ease-in-out;
}

#google-button:hover {
    background: #3f7bdf url("../../../assets/img/general/google.svg") 13px 50% no-repeat;
    transition: all .1s ease-in-out;
}

#twitter-button {
    padding-left: 46px;
    background: #1DA1F2 url("../../../assets/img/general/twitter.svg") 16px 50% no-repeat;
    transition: all .1s ease-in-out;
}

#twitter-button:hover {
    background: #1e95de url("../../../assets/img/general/twitter.svg") 16px 50% no-repeat;
    transition: all .1s ease-in-out;
}

.information-block {
    display: inline-block;
    vertical-align: top;
    margin-top: -120px;
    margin-left: 165px;
    max-width: 440px;
}

.information-block img {
    margin-bottom: 46px;
}

p.error {
    opacity: 0;
    transition: all .3s ease-in-out;
    padding-left: 30px;
    height: 20px;
}

p.error.visible {
    opacity: 1;
    transition: all .3s ease-in-out;
}

p.numeric {
    margin-top: 40px;
    margin-bottom: 3px;
}

#categories {
    max-width: 605px;
    margin:0 auto;
    margin-top: 100px;
}

#categories p.main-paragraph {
    max-width: 520px;
    margin-top: 15px;
    margin-bottom: 40px;
}

#categories h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

#categories .category-block > p { 
    line-height: 29px;
}
 
.category-block {
    height: 30px;
    border: 1px solid #D8E2E9;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    color: #5D5D5D !important;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all .1s ease-in-out;
}

.category-block:hover {
    border: 1px solid rgba(245, 80, 69, 0.4);
    transition: all .1s ease-in-out;
}

.category-block.selected {
    background: #feedec;
    border: 1px solid #feedec;
}

#categories .category-block > p {
    transition: all .1s ease-in-out;
}

#categories .category-block:hover > p,
#categories .category-block.selected > p { 
    color: #F55045 !important;
    transition: all .1s ease-in-out;
}

#categories .button {
    margin-bottom: 100px;
    margin-top: -10px;
}