<div *ngIf="!registerService.chooseCategoryFlag" class="register">
  <h1>Joining Duelity</h1>
  <p>Already a member?
    <a (click)="loginService.openModal()">Sign In</a>
  </p>
  <div class="form">
    <div class="input-wrapper">
      <app-input (onValueChange)="onFullNameChange($event)" [value]="name" [placeholder]="'Full Name'" [type]="inputType.Text"
        [error]="nameErrorMessage"></app-input>
    </div>
    <div class="input-wrapper">
      <app-input (onValueChange)="onEmailChange($event)" [value]="email" [placeholder]="'Email'" [type]="inputType.Text" [error]="emailErrorMessage"></app-input>
    </div>
    <div class="input-wrapper">
      <app-input (onValueChange)="onPasswordChange($event)" [value]="password" [placeholder]="'Password'" [type]="inputType.Password"
        [error]="passwordErrorMessage"></app-input>
    </div>
    <div>
      <input class="styled-checkbox" id="terms-checkbox" type="checkbox" [(ngModel)]="isTermsAccepted">
      <label for="terms-checkbox" [class.error]="showTermsError === true">
        <span>I have read and agree to the
          <a routerLink="/terms">Terms of Use</a> and to the processing of the personal data accordingly</span>
      </label>
    </div>
    <a class="button primary-button" (click)="goToCategories()">
      <span>Continue</span>
    </a>
    <p class="sign-in-with-label">Or sign in with</p>
    <button id="google-button" #googleButton class="inline left">Sign up with Google</button>
    <button id="twitter-button" class="inline right" (click)="twitterService.onTwitterSignIn()">Sign up with Twitter</button>
    <div class="clearfix"></div>
  </div>
  <div class="information-block">
    <img width="404" height="327" src="../../../assets/img/signing/register-illustration.png">
    <p>Join a community of digital designers who like to compete in creating solutions for interesting problems in strict deadlines.</p>
    <p>It’s a way of communicating and collaborating with designers around the world with any skill or category. With Duelity
      your skill goes up faster, you learn new things in the process, watch the same task solved in completely different
      ways and get useful tips from votes.</p>
    <p *ngIf="usersAmount !== null" class="numeric">{{socketService.usersAmount}}</p>
    <p *ngIf="usersAmount !== null">designers stepping their game up</p>
  </div>
  <div class="clearfix"></div>
</div>
<div *ngIf="registerService.chooseCategoryFlag" id="categories">
  <h1>Mind telling us what you’re good at?</h1>
  <p class="main-paragraph">You will only be able to duel with people who have a category in common with you. One duel — one category, choose as much
    as you feel comfortable dealing with</p>
  <div>
    <div *ngFor="let categoryGroup of categories">
      <h3>{{categoryGroup[0].group}}</h3>
      <div *ngFor="let category of categoryGroup" class="category-block" [class.selected]="category.selected" (click)="categoryService.pickCategory(category)">
        <p>{{category.name}}</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <a class="button primary-button" (click)="onRegisterSubmit()">
    <span>Create Account</span>
  </a>
</div>