<div class="start-duel-page" *ngIf="startDuelInfo">
  <h1>Starting a duel</h1>
  <div class="left">
    <div class="duel-counter">
      <span *ngIf="startDuelInfo.isPaidAccount">&#8734;</span>
      <span class="digits" [class.zero]="duelsLeft === 0" *ngIf="!startDuelInfo.isPaidAccount">{{duelsLeft}}</span>
      <p>Duels Left This Week
        <span *ngIf="!startDuelInfo.isPaidAccount" #tooltip class="tooltip-label custom-tooltip digits-tooltip inverse">
          <span class="tooltiptext">Some text</span>
        </span>
      </p>
    </div>
    <div class="duel-counter">
      <span *ngIf="startDuelInfo.isPaidAccount">&#8734;</span>
      <span class="digits" [class.zero]="currentDuels === 0" *ngIf="!startDuelInfo.isPaidAccount">{{currentDuels}}</span>
      <p>Current Duels
        <span *ngIf="!startDuelInfo.isPaidAccount" #tooltip class="tooltip-label custom-tooltip digits-tooltip inverse">
          <span class="tooltiptext">Some text</span>
        </span>
      </p>
    </div>
  </div>
  <div class="right paid-account-promotion" *ngIf="!startDuelInfo.isPaidAccount" (click)="goToPage('silver')">
    <h3>Not Enough?
      <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5.5L9 5.5M9 5.5L4.5 10M9 5.5L4.5 1" stroke="#F55045" stroke-width="2" stroke-linejoin="round" />
      </svg>
    </h3>
    <p>Get Duelity Silver to cut all limitations & unleash new features!</p>
  </div>
  <div class="clearfix"></div>
  <div class="delimiter"></div>
  <div *ngIf="canStartDuel" class="settings-block">
    <h2 class="opponent-heading">Opponent and Category</h2>
    <div class="left">
      <p>Search for opponent below</p>
      <div class="input-wrapper opponent-input">
        <app-input (onValueChange)="onSelectedUserChange($event)" [value]="selectedUser.value" [placeholder]="'Opponent'" [type]="inputType.Text"></app-input>
      </div>
    </div>
    <div class="right start-duel-info">
      <div class="top-border"></div>
      <div class="content">
        <h3>You can start a duel with users that</h3>
        <ul>
          <li>
            <span>have from -50 to +50 skill points relative to you</span>
          </li>
          <li>
            <span>have at least 1 common category with you</span>
          </li>
          <li>
            <span>did not use up all 3 duels this week* </span>
          </li>
          <li>
            <span>don’t have an active duel*</span>
          </li>
        </ul>
        <p class="small">*ignored, if user has Duelity Silver</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <p class="opponent-list-heading">
      or pick from the personal suggestion list
      <span #tooltip class="tooltip-label custom-tooltip inverse">
        <span class="tooltiptext text-left">Suggestion list shows the closest opponents, middle opponents and furthest available opponents. They’re random each
          time
        </span>
      </span>
    </p>
    <div>
      <div *ngIf="startDuelInfo.suggestedOpponents.closestMinus || startDuelInfo.suggestedOpponents.closestPlus" class="suggested-opponents-container">
        <div class="suggested-opponent furthest-minus-opponent">
          <div>
            <div *ngIf="startDuelInfo.suggestedOpponents.furthestMinus">
              <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.suggestedOpponents.furthestMinus.id}} fullname={{startDuelInfo.suggestedOpponents.furthestMinus.fullname}}
                backgroundImage={{startDuelInfo.suggestedOpponents.furthestMinus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.furthestMinus.imageColor}}>
              </app-profile-picture>
              <p class="skill-points">{{startDuelInfo.suggestedOpponents.furthestMinus.skillPoints}} skill</p>
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">
                  <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.furthestMinus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.furthestMinus)"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="suggested-opponent middle-minus-opponent">
          <div>
            <div *ngIf="startDuelInfo.suggestedOpponents.middleMinus">
              <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.suggestedOpponents.middleMinus.id}} fullname={{startDuelInfo.suggestedOpponents.middleMinus.fullname}}
                backgroundImage={{startDuelInfo.suggestedOpponents.middleMinus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.middleMinus.imageColor}}>
              </app-profile-picture>
              <p class="skill-points">{{startDuelInfo.suggestedOpponents.middleMinus.skillPoints}} skill</p>
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">
                  <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.middleMinus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.middleMinus)"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="suggested-opponent closest-minus-opponent">
          <div>
            <div *ngIf="startDuelInfo.suggestedOpponents.closestMinus">
              <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.suggestedOpponents.closestMinus.id}} fullname={{startDuelInfo.suggestedOpponents.closestMinus.fullname}}
                backgroundImage={{startDuelInfo.suggestedOpponents.closestMinus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.closestMinus.imageColor}}>
              </app-profile-picture>
              <p class="skill-points">{{startDuelInfo.suggestedOpponents.closestMinus.skillPoints}} skill</p>
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">
                  <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.closestMinus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.closestMinus)"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="suggested-opponent current-user">
          <div>
            <div *ngIf="startDuelInfo.currentUser">
              <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.currentUser.id}} fullname={{startDuelInfo.currentUser.fullname}}
                backgroundImage={{startDuelInfo.currentUser.imageUrl}} backgroundColor={{startDuelInfo.currentUser.imageColor}}>
              </app-profile-picture>
              <p class="skill-points">{{startDuelInfo.currentUser.skillPoints}} skill</p>
              <p>You</p>
            </div>
          </div>
        </div>
        <div class="suggested-opponent closest-plus-opponent">
          <div>
            <div *ngIf="startDuelInfo.suggestedOpponents.closestPlus">
              <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.suggestedOpponents.closestPlus.id}} fullname={{startDuelInfo.suggestedOpponents.closestPlus.fullname}}
                backgroundImage={{startDuelInfo.suggestedOpponents.closestPlus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.closestPlus.imageColor}}>
              </app-profile-picture>
              <p class="skill-points">{{startDuelInfo.suggestedOpponents.closestPlus.skillPoints}} skill</p>
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">
                  <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.closestPlus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.closestPlus)"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="suggested-opponent middle-plus-opponent">
          <div>
            <div *ngIf="startDuelInfo.suggestedOpponents.middlePlus">
              <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.suggestedOpponents.middlePlus.id}} fullname={{startDuelInfo.suggestedOpponents.middlePlus.fullname}}
                backgroundImage={{startDuelInfo.suggestedOpponents.middlePlus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.middlePlus.imageColor}}>
              </app-profile-picture>
              <p class="skill-points">{{startDuelInfo.suggestedOpponents.middlePlus.skillPoints}} skill</p>
              <div class="inline custom-radio-wrapper">
                <label class="custom-radio container">
                  <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.middlePlus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.middlePlus)"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="suggested-opponent furthest-plus-opponent">
          <div *ngIf="startDuelInfo.suggestedOpponents.furthestPlus">
            <app-profile-picture class="avatar" elementClass="x-small" userId={{startDuelInfo.suggestedOpponents.furthestPlus.id}} fullname={{startDuelInfo.suggestedOpponents.furthestPlus.fullname}}
              backgroundImage={{startDuelInfo.suggestedOpponents.furthestPlus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.furthestPlus.imageColor}}>
            </app-profile-picture>
            <p class="skill-points">{{startDuelInfo.suggestedOpponents.furthestPlus.skillPoints}} skill</p>
            <div class="inline custom-radio-wrapper">
              <label class="custom-radio container">
                <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.furthestPlus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.furthestPlus)"
                />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="opponents-delimiter"></div>
      <div class="categories-container">
        <div *ngIf="selectedUser.fullname">
          <h3 class="categories-heading">List of common categories with {{selectedUser.fullname}}</h3>
          <div>
            <div *ngFor="let category of startDuelInfo.commonCategories" class="category-block" [class.selected]="category.selected"
              (click)="categoryService.pickOneCategory(category, startDuelInfo.commonCategories)">
              <p>{{category.name}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="left task-block">
        <h2>Task</h2>
        <div class="input-wrapper task-input">
          <app-input (onValueChange)="onSelectedTaskText($event)" [value]="selectedTaskText" [value]="selectedTaskText" [placeholder]="'Duel Task'"
            [type]="inputType.Textarea" [counterMinLength]="100"></app-input>
        </div>
      </div>
      <div class="right start-duel-info tips">
        <div class="top-border"></div>
        <div class="content">
          <h3>Tips on duel task</h3>
          <ul>
            <li>
              <span>start with the overall description</span>
            </li>
            <li>
              <span>mention restrictions, if any</span>
            </li>
            <li>
              <span>go into details, try to be on the same page with your opponent</span>
            </li>
            <li>
              <span>list problems that the solution has to solve</span>
            </li>
            <li>
              <span>
                <a class="link" routerLink="/terms">do not mention</a> any brands unless they are widely known</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="deadline-block">
        <h2>Work Upload Deadline</h2>
        <div class="work-deadline-container">
          <input type="button" value="Two Days" (click)="selectDate($event.target, 2)">
          <input type="button" value="Week" (click)="selectDate($event.target, 7)">
          <input type="button" value="Two Weeks" (click)="selectDate($event.target, 14)">
          <span>or</span>
          <div class="inline datepicker-wrapper">
            <input id="deadline-picker" type="date" min="{{getMinDate()}}" max="{{getMaxDate()}}" (change)="onChangeDatePickerValue($event.target)"
              onkeydown="return false" readonly>
            <div id="datepicker" class="datepicker"></div>
          </div>
        </div>
      </div>
      <div class="start-duel-block">
        <a class="button primary-button" (click)="startDuel()">
          <span>Start the Duel</span>
        </a>
        <p class="inline">Keep in mind our Rule Book when starting the duel</p>
      </div>
      <!-- <p>Enter the name below or choose from the handy suggestion list</p>
    <input autocomplete [config]="config" [items]="opponents" [(ngModel)]="selectedUser.value" (inputChangedEvent)="onInputChangedEvent($event)"
      (selectEvent)="onSelect($event)">
    <div *ngIf="startDuelInfo.suggestedOpponents.closestMinus || startDuelInfo.suggestedOpponents.closestPlus" class="suggested-opponents-container">
      <div *ngIf="startDuelInfo.suggestedOpponents.furthestMinus" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.suggestedOpponents.furthestMinus.id}} fullname={{startDuelInfo.suggestedOpponents.furthestMinus.fullname}}
            backgroundImage={{startDuelInfo.suggestedOpponents.furthestMinus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.furthestMinus.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.suggestedOpponents.furthestMinus.skillPoints}} skill</p>
          <label>Furthest-
            <br>Opponent</label>
          <div>
            <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.furthestMinus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.furthestMinus)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="startDuelInfo.suggestedOpponents.middleMinus" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.suggestedOpponents.middleMinus.id}} fullname={{startDuelInfo.suggestedOpponents.middleMinus.fullname}}
            backgroundImage={{startDuelInfo.suggestedOpponents.middleMinus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.middleMinus.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.suggestedOpponents.middleMinus.skillPoints}} skill</p>
          <label>Middle-
            <br>Opponent</label>
          <div>
            <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.middleMinus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.middleMinus)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="startDuelInfo.suggestedOpponents.closestMinus" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.suggestedOpponents.closestMinus.id}} fullname={{startDuelInfo.suggestedOpponents.closestMinus.fullname}}
            backgroundImage={{startDuelInfo.suggestedOpponents.closestMinus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.closestMinus.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.suggestedOpponents.closestMinus.skillPoints}} skill</p>
          <label>Closest-
            <br>Opponent</label>
          <div>
            <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.closestMinus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.closestMinus)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="startDuelInfo.currentUser" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.currentUser.id}} fullname={{startDuelInfo.currentUser.fullname}}
            backgroundImage={{startDuelInfo.currentUser.imageUrl}} backgroundColor={{startDuelInfo.currentUser.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.currentUser.skillPoints}} skill</p>
          <label>That's
            <br>you</label>
        </div>
      </div>
      <div *ngIf="startDuelInfo.suggestedOpponents.closestPlus" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.suggestedOpponents.closestPlus.id}} fullname={{startDuelInfo.suggestedOpponents.closestPlus.fullname}}
            backgroundImage={{startDuelInfo.suggestedOpponents.closestPlus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.closestPlus.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.suggestedOpponents.closestPlus.skillPoints}} skill</p>
          <label>Closest+
            <br>Opponent</label>
          <div>
            <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.closestPlus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.closestPlus)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="startDuelInfo.suggestedOpponents.middlePlus" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.suggestedOpponents.middlePlus.id}} fullname={{startDuelInfo.suggestedOpponents.middlePlus.fullname}}
            backgroundImage={{startDuelInfo.suggestedOpponents.middlePlus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.middlePlus.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.suggestedOpponents.middlePlus.skillPoints}} skill</p>
          <label>Middle+
            <br>Opponent</label>
          <div>
            <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.middlePlus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.middlePlus)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="startDuelInfo.suggestedOpponents.furthestPlus" class="suggested-opponent">
        <div>
          <app-profile-picture fontSize=15 width=36 height=36 userId={{startDuelInfo.suggestedOpponents.furthestPlus.id}} fullname={{startDuelInfo.suggestedOpponents.furthestPlus.fullname}}
            backgroundImage={{startDuelInfo.suggestedOpponents.furthestPlus.imageUrl}} backgroundColor={{startDuelInfo.suggestedOpponents.furthestPlus.imageColor}}>
          </app-profile-picture>
          <p>{{startDuelInfo.suggestedOpponents.furthestPlus.skillPoints}} skill</p>
          <label>Furthest+
            <br>Opponent</label>
          <div>
            <input type="radio" attr.data-user-id="{{startDuelInfo.suggestedOpponents.furthestPlus.id}}" (click)="selectByRadio(startDuelInfo.suggestedOpponents.furthestPlus)"
            />
          </div>
        </div>
      </div>
    </div>
    <h1>Task</h1>
    <p>Make it as descriptive as possible. Remember, better described tasks get accepted way more!</p>
    <textarea [(ngModel)]="selectedTaskText"></textarea>
    <h1>Work Upload Deadline</h1>
    <div class="work-deadline-container">
      <input type="button" value="Two Days" (click)="selectDate($event.target, 2)">
      <input type="button" value="Week" (click)="selectDate($event.target, 7)">
      <input type="button" value="Two Weeks" (click)="selectDate($event.target, 14)">
      <input id="deadline-picker" type="date" min="{{getMinDate()}}" max="{{getMaxDate()}}" (change)="onChangeDatePickerValue($event.target)"
        onkeydown="return false">
    </div>
    <button (click)="startDuel()">Start the Duel</button> -->
    </div>
  </div>
  <div *ngIf="!canStartDuel" class="duels-limit-block">
    <img width="386" height="266" src="../../../assets/img/start-duel/duels-limit-illustration.png">
    <div class="inline">
      <h2>Wow, you’ve used up all 3 duels this week!</h2>
      <p>If you have enough time and creative ideas, you can purchase Duelity Silver to unlock unlimited duels</p>
      <a class="button primary-button" (click)="goToPage('silver')">
        <span>Check Duelity Silver Out</span>
      </a>
    </div>
  </div>