.suggested-opponents-container {
    margin-top: 10px;
}

.suggested-opponent {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.suggested-opponent img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.start-duel-page {
    padding-top: 100px;
    padding-bottom: 100px;
}

input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.start-duel-page .duel-counter {
    display: inline-block;
    margin-right: 140px;
    margin-top: 30px;
}

.start-duel-page .duel-counter:last-child {
    margin-right: 0;
}

.start-duel-page .duel-counter > span {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #31D431;
}

.start-duel-page .duel-counter span.digits {
    font-family: Menoe Grotesque Pro;
}

.start-duel-page .duel-counter span.digits.zero {
    color: #5D5D5D;
}

.start-duel-page .duel-counter p {
    margin-top: 6px;
}

.start-duel-page .duel-counter .tooltip-label {
    position: relative;
    top: 3px;
}

.start-duel-page .delimiter {
    height: 1px;
    background-color: #D8E2E9;
    opacity: 0.7;
    margin-top: 40px;
}

.start-duel-page .paid-account-promotion {
    width: 590px;
    background-color: #fffce9;
    border-left: 4px solid #FFE226;
    padding-top: 20px;
    padding-left: 28px;
    padding-bottom: 5px;
    cursor: pointer;
    margin-top: 8px;
}

.start-duel-page .paid-account-promotion p {
    margin-top: 5px;
}

.start-duel-page .paid-account-promotion svg {
    margin-left: 7px;
}

.start-duel-page .duels-limit-block {
    margin-top: 100px;
}

.start-duel-page .duels-limit-block img {
    margin-left: 75px;
    margin-right: 73px;
}

.start-duel-page .duels-limit-block > div {
    width: 590px;
    vertical-align: middle;
}

.start-duel-page .duels-limit-block > div > h2 {
    margin-bottom: 13px;
}

.start-duel-page .duels-limit-block > div > p {
    margin-bottom: 30px;
}

.start-duel-page .settings-block h2.opponent-heading {
    margin-top: 55px;
    margin-bottom: 7px;
}

.start-duel-page .settings-block .opponent-list-heading {
    margin-top: 25px;
}

.start-duel-page .settings-block .opponent-input {
    width: 387px;
    margin-top: 25px;
}

.start-duel-page .settings-block .start-duel-info {
    width: 590px;
    border: 1px solid #D8E2E9;
    margin-top: -37px;
}

.start-duel-page .settings-block .start-duel-info .top-border {
    width: 590px;
    height: 6px;
    background-color: #F55045;
    position: relative;
    top: -1px;
    left: -1px;
}

.start-duel-page .settings-block .start-duel-info .content {
    padding-top: 20px;
    padding-left: 30px;
}

.start-duel-page .settings-block .start-duel-info ul {
    list-style: none;
    padding-left: 14px;
    margin-top: 5px;
}

.start-duel-page .settings-block .start-duel-info ul li {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #5D5D5D;
}

.start-duel-page .settings-block .start-duel-info ul li > span {
    margin-left: -5px;
}

.start-duel-page .settings-block .start-duel-info ul li::before {
    content: "•"; 
    color: #F55045;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

.start-duel-page .settings-block .start-duel-info p.small {
    margin-top: -5px;
    opacity: .5;
    margin-left: 16px;
}

.start-duel-page .settings-block .custom-tooltip {
    position: relative;
    top: 3px;
}

.start-duel-page .settings-block .suggested-opponents-container {
    margin-top: 25px;
}

.start-duel-page .settings-block .suggested-opponents-container .avatar {
    display: inline-block;
}

.start-duel-page .suggested-opponent > div {
    display: inline-block;
}

.start-duel-page .suggested-opponent p.skill-points {
    margin-top: 10px;
    background-color: #fff;
    padding-left: 8px;
    padding-right: 8px;
}

.start-duel-page .settings-block .suggested-opponents-container .furthest-minus-opponent {
    width: 147px;
    text-align: left;
}

.start-duel-page .settings-block .suggested-opponents-container .middle-minus-opponent {
    width: 218px;
    text-align: center;
}

.start-duel-page .settings-block .suggested-opponents-container .closest-minus-opponent {
    width: 147px;
    text-align: right;
}

.start-duel-page .settings-block .suggested-opponents-container .current-user {
    width: 144px;
    text-align: center;
}

.start-duel-page .settings-block .suggested-opponents-container .closest-plus-opponent {
    width: 147px;
    text-align: left;
}

.start-duel-page .settings-block .suggested-opponents-container .middle-plus-opponent {
    width: 218px;
    text-align: center;
}

.start-duel-page .settings-block .suggested-opponents-container .furthest-plus-opponent {
    width: 147px;
    text-align: right;
}

.start-duel-page .settings-block .suggested-opponents-container .suggested-opponent > div {
    text-align: center;
}

.start-duel-page .settings-block .opponents-delimiter {
    width: 1100px;
    margin: 0 auto;
    height: 1px;
    background-color: #D8E2E9;
    margin-top: -65px;
}

.start-duel-page .settings-block .suggested-opponents-container .current-user p:last-child {
    color: #C1C7CB;
}

.start-duel-page .settings-block h3.categories-heading {
    margin-top: 100px;
    text-align: center;
}

.start-duel-page .custom-radio .checkmark {
    width: 16px;
    height: 16px;
}

.start-duel-page .custom-radio.container .checkmark::after {
    width: 8.5px;
    height: 8.5px;
    position: absolute;
    top: 16.4%;
    left: 15.4%;
}

.custom-radio-wrapper {
    width: 16px;
    position: relative;
    top: -9px;
}

.categories-container {
    text-align: center;
    height: 200px;
}

.categories-container h3 {
    margin-bottom: 16px;
}

.category-block {
    height: 30px;
    border: 1px solid #D8E2E9;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    color: #5D5D5D !important;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: all .1s ease-in-out;
}

.category-block:hover {
    border: 1px solid rgba(245, 80, 69, 0.4);
    transition: all .1s ease-in-out;
}

.category-block.selected {
    background: #feedec;
    border: 1px solid #feedec;
}

.category-block > p {
    transition: all .1s ease-in-out;
    line-height: 28px;
    font-family: 'Menoe Grotesque Pro Italic';
}

.category-block:hover > p,
.category-block.selected > p { 
    color: #F55045 !important;
    transition: all .1s ease-in-out;
}

.task-block h2 {
    margin-top: -50px;
}

.start-duel-page .start-duel-info.tips .content {
    padding-bottom: 5px;
}

span > a.link {
    color: #F55045 !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

span > a.link:hover {
    color: #A04437 !important;
    transition: all .2s ease-in-out;
}

.task-input {
    width: 488px;
    margin-top: 30px;
}

.deadline-block {
    width: 730px;
    margin: 0 auto;
    margin-top: 100px;
}

.deadline-block h2 {
    margin-bottom: 10px;
}

.work-deadline-container input:first-child {
    margin-left: 0px;
}

.work-deadline-container input {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-color: #fff;
    outline: 0;
    color: #5D5D5D;
    cursor: pointer;
    width: 151.66px;
    height: 60px;
    border: 1px solid #D8E2E9;
    box-sizing: border-box;
    margin-left: -5px;
}

.work-deadline-container input[type='button'].selected {
    background-color: #F55045;
    color: #fff;
}

.work-deadline-container span {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    letter-spacing: -0.02em;
    color: #5D5D5D;
    margin-left: 15px;
    margin-right: 19px;
}

.work-deadline-container input[type='date'] {
    width: 179px;
}

.datepicker {
    left: -35px;
}

.start-duel-block {
    text-align: center;
    margin-top: 65px;
}

.start-duel-block p.inline {
    margin-left: 27px;
}