img {
    border-radius: 50%;
}

.background {
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

h1 {
    opacity: .4;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.online-status {   
    border-radius: 50%;
    background-color: #31D431;
    position: relative;
    box-shadow: 0 0 0 2px #fff;
}

/* XX-small */

.xx-small {
    width: 24px;
    height: 24px;
}

.xx-small img,
.xx-small .background {
    width: 24px;
    height: 24px;
}

.xx-small .background.with-border {
    box-shadow: 0 0 0 2px #fff;
}

.xx-small h1 {
    font-size: 12px;
    line-height: 26px;
}

.xx-small .online-status-wrapper {
    width: 7px;
    height: 7px;
    margin-top: -7px;
    margin-left: 18px;
}

.xx-small .online-status {
    width: 7px;
    height: 7px; 
}

/* XX-small End */

/* X-small */

.x-small {
    width: 36px;
    height: 36px;
}

.x-small img,
.x-small .background {
    width: 36px;
    height: 36px;
}

.x-small .background.with-border {
    box-shadow: 0 0 0 2px #fff;
}

.x-small h1 {
    font-size: 15px;
    line-height: 36px;
}

.x-small .online-status-wrapper {
    width: 10px;
    height: 10px;
    margin-top: -10px; 
    margin-left: 26px; 
}

.x-small .online-status {
    width: 10px;
    height: 10px; 
}

/* X-small End */

/* Small */

.small {
    width: 48px;
    height: 48px; 
}

.small img,
.small .background {
    width: 48px;
    height: 48px;
}

.small h1 {
    font-size: 20px;
    line-height: 48px;
}

.small .online-status-wrapper {
    width: 10px;
    height: 10px;
    margin-top: -10px; 
    margin-left: 38px; 
}

.small .online-status {
    width: 10px;
    height: 10px; 
}

/* Small End */

/* X-medium */

.x-medium {
    width: 56px;
    height: 56px;
}

.x-medium img,
.x-medium .background {
    width: 56px;
    height: 56px;
}

.x-medium h1 {
    font-size: 26px;
    line-height: 56px;
}

.x-medium .online-status-wrapper {
    width: 12px;
    height: 12px;
    margin-top: -15px; 
    margin-left: 44px; 
}

.x-medium .online-status {
    width: 12px;
    height: 12px; 
}

/* X-medium End */

/* Medium */

.medium {
    width: 72px;
    height: 72px;
}

.medium img,
.medium .background {
    width: 72px;
    height: 72px;
}

.medium h1 {
    font-size: 30px;
    line-height: 72px;
}

.medium .online-status-wrapper {
    width: 10px;
    height: 10px;
    margin-top: -15px; 
    margin-left: 57px; 
}

.medium .online-status {
    width: 10px;
    height: 10px; 
}

/* Medium End */

/* Large */

.large {
    width: 144px;
    height: 144px;
}

.large img,
.large .background {
    width: 144px;
    height: 144px;
}

.large h1 {
    font-size: 62px;
    line-height: 144px;
}

.large .online-status-wrapper {
    width: 16px;
    height: 16px;
    margin-top: -26px; 
    margin-left: 118px; 
}

.large .online-status {
    width: 16px;
    height: 16px; 
    box-shadow: 0 0 0 4px #fff;
}

/* Large End */