<div class="{{elementClass}}">
  <img *ngIf="backgroundImage" src="{{backgroundImage}}" />
  <div class="background" *ngIf="!backgroundImage"[ngStyle]="{backgroundColor: backgroundColor}" [class.with-border]="hasBorder">
    <h1>{{getPictureText()}}</h1>
  </div>
  <div class="online-status-wrapper">
    <div *ngIf="socketService.onlineUsers.indexOf(userId) >= 0" class="online-status"></div>
  </div>
</div>