.user-profile {
    padding-bottom: 100px;
}

.duels-visibility {
    opacity: 0;
}

.duels-visibility.visible {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.profile-body {
    border: 1px solid #D8E2E9;
    padding: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.profile-body .title {
    margin-top: 5px;
}

.profile-body .title img {
    margin-left: 1px;
    margin-top: -2px;
}

.profile-body .title .rating {
    font-family: Menoe Grotesque Pro;
    font-size: 20px;
    color: #C1C7CB;
    margin-left: 12px;
}

.profile-body p.info {
    margin:0;
    line-height: 21px;
    padding-left: 25px;
    margin-bottom: 8px;
}

.profile-body p.username {
    background: url("../../../assets/img/profile/username-icon.svg") 0 50% no-repeat;
}

.profile-body p.location {
    background: url("../../../assets/img/profile/location-icon.svg") 0 50% no-repeat;
}

.profile-body p.categories {
    background: url("../../../assets/img/profile/categories-icon.svg") 0 50% no-repeat;
}

.profile-body p.account-creation-date {
    background: url("../../../assets/img/profile/account-creation-icon.svg") 0 50% no-repeat;
}

.profile-body .info-column {
    margin-left: 30px;
}

.profile-body .description {
    margin-top: -4px;
    margin-bottom: 21px;
}

.profile-body .button {
    margin-top: 28px;
    margin-right: 20px;
}

.profile-body .button:last-child {
    margin-right: 29px;
}

.profile-body .featured {
    display: inline-block;
    background: url("../../../assets/img/general/featured-icon.svg") 0 50% no-repeat;
    height: 22px;
    padding-left: 24px;
    margin-left: -9px;
}

.profile-body .featured p {
    color: #F55045 !important;
}

.profile-body .number-block {
    display: inline-block;
    text-align: right;
    margin-left: 72px;
    margin-top: 15px;
}

.profile-body .number-block:first-child {
    margin-left: 0;
}

.profile-body .number-block p {
    margin-bottom: 5px;
}

.profile-body .number-block p:first-child {
    font-size: 25px;
    color: #262626;
}

.profile-body .social-networks {
    text-align: right;
    margin-top: 185px;
}

.profile-body .social-networks > div {
    display: inline-block;
    margin-left: 33px;
}

.profile-body .social-networks > div:first-child {
    margin-left: 0;
}

.profile-body .featured-points-space {
    height: 50px;
}

.duel-hover {
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -250px;
    position: relative;
    z-index: 200;
    text-align: center;
    padding-top: 55px;
}

.duel-hover p.block-paragraph {
    margin-top: 15px;
    width: 410px;
    display: inline-block;
}

.duel-hover img {
    margin-right: 7px;
}

.duel-hover .secondary-button {
    padding: 0;
    height: 40px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 15px;
}

.duel-hover p.other-button {
    margin-right: 15px;
}

.duel-hover p.other-button a {
    opacity: 1;
    transition: all .1s ease-in-out;
}

.duel-hover p.other-button a:hover {
    opacity: .7;
    transition: all .1s ease-in-out;
}

.duel-hover p.other-button > a {
    color: #5D5D5D !important;
    border-bottom: 1px dotted #5D5D5D !important;
}

.hide-block {
    border: 1px solid #D8E2E9;
    height: 40px;
    top: -250px;
    position: relative;
    z-index: 200;
    background-color: #fff;
    opacity: 0;
    transition: all .2s ease-in-out;
    padding-left: 16px;
    padding-right: 16px;
}

.hide-block p,
.hide-block span{
    line-height: 40px;
}

.hide-block span {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F55045;
    position: relative;
    top: 11px;
}

.duel-wrapper:hover .hide-block {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.more-categories {
    color: #5D5D5D;
    opacity: 0.5;
    border-bottom: 1px dotted rgb(174,174,174);
    line-height: 15px;
    cursor: pointer;
    margin-left: 7px;
}

.can-start-duel-tooltip {
    width: 150px;
    height: 50px;
    position: absolute;
}