<div class="user-profile" *ngIf="userSuccess === true">
  <app-user-list></app-user-list>
  <div class="profile-body">
    <div class="left">
      <app-profile-picture elementClass="large" fullname={{user.fullname}} userId={{user.id}} backgroundImage={{user.imageUrl}}
        backgroundColor={{user.imageColor}}>
      </app-profile-picture>
    </div>
    <div class="left info-column">
      <h2 class="title">
        {{user.fullname}}
        <img *ngIf="user.isPaidAccount" width="16" height="16" src="../../../assets/img/general/silver-label-icon.svg">
        <span class="rating">#{{user.rating}}</span>
      </h2>
      <p class="description">{{user.description}}</p>
      <p class="info username">@{{user.username}}</p>
      <p class="info location" *ngIf="user.location">{{user.location}}</p>
      <p class="info categories inline" *ngIf="user.categories">{{firstCategory}}</p>
      <div #categoriesTooltip class="inline custom-tooltip" *ngIf="tooltipCategories.length > 0">
        <span class="tooltiptext">{{tooltipCategories}}</span>
        <p class="more-categories">and {{tooltipCategories.split(',').length}} more</p>
      </div>
      <p class="info account-creation-date" *ngIf="user.accountCreationDate">{{dateFormatter.toShortFormat(user.accountCreationDate)}}</p>
      <div *ngIf="isCurrentUser" class="inline">
        <a class="button secondary-button" routerLink="/settings">
          <span>Settings</span>
        </a>
      </div>
      <div *ngIf="!isCurrentUser" class="inline">
        <div *ngIf="authService.getCurrentUserId() !== null">
          <a class="button secondary-button" *ngIf="!isFollowed()" (click)="followUser()">
            <span>Follow</span>
          </a>
          <a class="button secondary-button" *ngIf="isFollowed()" (click)="unfollowUser()">
            <span>Unfollow</span>
          </a>
          <a id="startDuelButton" class="button primary-button inline" [class.disabled]="!canStartDuel.canStartDuel" (click)="startDuel()">
            <span>Start a duel</span>
          </a>
        </div>
      </div>
      <div *ngIf="user.featuredPoints > 0" class="inline">
        <div class="inline featured-points-space"></div>
        <div class="featured">
          <p>x{{user.featuredPoints}}</p>
        </div>
      </div>
    </div>
    <div class="right">
      <div>
        <div class="number-block">
          <p>{{user.skillPoints}}</p>
          <p>Skill</p>
        </div>
        <div class="number-block">
          <p>{{user.duelsWon}}</p>
          <p>Duels Won</p>
        </div>
        <div class="number-block clickable" (click)="openUserFollowers()">
          <p>{{user.followers.length}}</p>
          <p>Followers</p>
        </div>
        <div class="number-block clickable" (click)="openUserFollowing()">
          <p>{{user.following.length}}</p>
          <p>Following</p>
        </div>
      </div>
      <div>
        <div class="social-networks" *ngIf="user.socialNetworks">
          <div *ngIf="user.socialNetworks.behance">
            <a target="_blank" href="//{{user.socialNetworks.behance}}">
              <img src="../../../assets/img/profile/behance.svg">
            </a>
          </div>
          <div *ngIf="user.socialNetworks.dribbble">
            <a target="_blank" href="//{{user.socialNetworks.dribbble}}">
              <img src="../../../assets/img/profile/dribbble.svg">
            </a>
          </div>
          <div *ngIf="user.socialNetworks.twitter">
            <a target="_blank" href="//{{user.socialNetworks.twitter}}">
              <img src="../../../assets/img/profile/twitter.svg">
            </a>
          </div>
          <div *ngIf="user.socialNetworks.instagram">
            <a target="_blank" href="//{{user.socialNetworks.instagram}}">
              <img src="../../../assets/img/profile/instagram.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="!canStartDuel.canStartDuel && !isCurrentUser" #canStartDuelTooltip class="can-start-duel-tooltip inline custom-tooltip">
      <span *ngIf="canStartDuel.message !== null && canStartDuel.message !== undefined && canStartDuel.message.length > 0" class="tooltiptext">{{canStartDuel.message}}</span>
    </div>
  </div>
  <div #duelsContainer *ngIf="isCurrentUser" class="duels-visibility">
    <div *ngIf="duels.length > 0" class="duels-container">
      <div *ngFor="let duel of duels" class="duel-wrapper">
        <app-duel [duel]="duel" [duelOwner]="user.id" (notify)="onNotify($event)" (click)="openVotePage(duel)"></app-duel>
        <div *ngIf="user.isPaidAccount && ((duel.leftUser.user.id === user.id && !duel.leftUser.isHidden) || (duel.rightUser.user.id === user.id && !duel.rightUser.isHidden))"
          class="hide-block">
          <p class="left">Duelity Silver allows you to hide duels from your profile</p>
          <span class="right" (click)="changeDuelVisibility(duel.id, true)">Hide duel</span>
          <div class="clearfix"></div>
        </div>
        <div *ngIf="user.isPaidAccount && ((duel.leftUser.user.id === user.id && duel.leftUser.isHidden) || (duel.rightUser.user.id === user.id && duel.rightUser.isHidden))"
          class="duel-hover">
          <div>
            <img class="inline" src="../../../assets/img/duel/hidden-duel-icon.svg">
            <h3 class="inline">This duel is hidden from your profile</h3>
          </div>
          <p class="block-paragraph">Only you can see it here though it’s still visible from your opponent profile and other pages</p>
          <div class="clearfix"></div>
          <p class="inline other-button">
            <a (click)="openVotePage(duel)">Open Duel</a>
          </p>
          <a class="button secondary-button" (click)="changeDuelVisibility(duel.id, false)">
            <span>Make Public</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div #duelsContainer *ngIf="!isCurrentUser" class="duels-visibility">
    <div *ngIf="duels.length > 0" class="duels">
      <div class="duels-container">
        <div *ngFor="let duel of duels" (click)="openVotePage(duel)" class="duel-wrapper">
          <app-duel *ngIf="(duel.leftUser.user.id === user.id && !duel.leftUser.isHidden) || (duel.rightUser.user.id === user.id && !duel.rightUser.isHidden)"
            [duel]="duel" [duelOwner]="user.id" (notify)="onNotify($event)"></app-duel>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="userSuccess === false">
  <h1>User not found!</h1>
</div>