footer {
    background-color: rgba(220, 220, 220, 0.3);
    height: 250px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .row-1 {
    margin-top: 60px;
}

footer .row-1 img {
    margin-right: 155px;
    opacity: 1;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: 0;
    outline: 0;
}

footer .row-1 img:hover { 
    opacity: 0.8;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

footer .row-1 a {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #262626;
    letter-spacing: -0.2px;
    margin-right: 115px;
    text-decoration: none;
    opacity: 1;
    transition: all .2s ease-in-out;
}

footer .row-1 a:hover {
    color: #5D5D5D;
    opacity: 0.7;
    transition: all .2s ease-in-out;
}

footer .row-1 a:last-child {
    margin-right: 0;
}

footer .row-2 {
    margin-top: 70px;
}

footer .row-2 p {
    display: inline-block;
    margin-left: 210px;
}

.social {
    display: inline-block;
}

.social > a {
    vertical-align: middle;
    display: inline-block;
    margin-left: 25px;
}

.medium path,
.twitter path {
    transition: all .2s ease-in-out;
}

.medium:hover path,
.twitter:hover path {
    transition: all .2s ease-in-out;
    fill: #262626;
}