<footer>
    <div class="container">
        <div class="row-1">
            <img src="../../../assets/img/footer/graphic-logo.svg" routerLink="/">
            <a routerLink="/about">About</a>
            <a routerLink="/silver">Duelity Silver</a>
            <a routerLink="/about">Terms Of Use</a>
            <a routerLink="/about">Privacy Policy</a>
            <a routerLink="/about">Support</a>
        </div>
        <div class="row-2">
            <p>© Duelity 2019 — All Rights Reserved</p>
            <div class="social right">
                <a class="medium" href="https://medium.com/" target="_blank">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H22V22H0V0ZM5.06374 6.87473C5.19922 6.99684 5.2684 7.17616 5.25004 7.35758V13.8899C5.29024 14.1255 5.21596 14.3663 5.04994 14.5383L3.49748 16.4214V16.6698H7.89958V16.4214L6.34712 14.5383C6.17989 14.3665 6.10101 14.1274 6.13322 13.8899V8.24051L9.99714 16.6698H10.4456L13.7645 8.24051V14.9591C13.7645 15.1384 13.7645 15.1729 13.6472 15.2902L12.4535 16.449V16.6973H18.2494V16.449L17.0971 15.3178C16.9954 15.2402 16.9449 15.1128 16.966 14.9867V6.67469C16.9449 6.54856 16.9954 6.42113 17.0971 6.34359L18.277 5.21233V4.96401H14.1923L11.2805 12.2275L7.96858 4.96401H3.68377V5.21233L5.06374 6.87473Z"
                            fill="#5D5D5D" />
                    </svg>
                </a>
                <a class="twitter" href="https://twitter.com/" target="_blank">
                    <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 2.248C23.1166 2.62947 22.1683 2.88819 21.1731 3.00369C22.1899 2.41025 22.9687 1.46896 23.3365 0.350785C22.3828 0.900352 21.3299 1.29941 20.2085 1.51574C19.3107 0.581748 18.0325 0 16.6154 0C13.8966 0 11.6917 2.14863 11.6917 4.79713C11.6917 5.17277 11.735 5.53964 11.8197 5.89046C7.72716 5.69019 4.09976 3.77983 1.67127 0.876963C1.2476 1.58442 1.00601 2.40875 1.00601 3.2887C1.00601 4.95353 1.8768 6.42249 3.19651 7.28191C2.38882 7.25562 1.62981 7.03929 0.966346 6.67971V6.73964C0.966346 9.06366 2.66286 11.0033 4.91466 11.4447C4.5018 11.5529 4.06731 11.6128 3.61659 11.6128C3.29928 11.6128 2.99279 11.5821 2.6899 11.5236C3.31731 13.4311 5.13462 14.8182 7.28906 14.8562C5.60517 16.1425 3.48137 16.9069 1.17368 16.9069C0.777044 16.9069 0.385817 16.8835 0 16.8411C2.17969 18.2049 4.76683 19 7.54688 19C16.6028 19 21.5535 11.6888 21.5535 5.34819L21.5373 4.727C22.5054 4.05459 23.3419 3.20977 24 2.248Z"
                            fill="#5D5D5D" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>