.custom-input {
    position: relative;
    margin: auto;
    width: 100%;
    border: 1px solid #C1C7CB;
    height: 60px;
}

.custom-input.text-area {
    height: 128px;
}

.custom-input.big-textarea.text-area {
    height: 200px;
}

.custom-input .label {
    position: absolute;
    top: 20px;
    left: 0;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    display: inline;
    color: #C1C7CB;
    background-color: #fff;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.custom-input input,
.custom-input textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    padding: 12px 0;
    background: none;
    height: 60px;
    border-radius: 0;
    border: 0;
    transition: all 0.15s ease;
    padding-left: 30px;
    padding-right: 30px;
}

.custom-input textarea {
    height: 100px;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
    margin-top: 12px;
}

.custom-input.big-textarea textarea {
    height: 160px;
}

.custom-input textarea::-webkit-scrollbar { 
    width: 0 !important; 
}

.custom-input input.error,
.custom-input textarea.error {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    padding: 12px 0;
    height: 60px;
    border: 1px solid #F55045;
    background: none;
    border-radius: 0;
    transition: all 0.15s ease;
    padding-left: 30px;
}
  
.custom-input input:not(:placeholder-shown) + p,
.custom-input textarea:not(:placeholder-shown) + p {
    transform: translateY(-30px);
    color: #5D5D5D;
}
  
.custom-input input:focus,
.custom-input textarea:focus {
    background: none;
    outline: none;
}
  
.custom-input input:focus + p,
.custom-input textarea:focus + p {
    color: #5D5D5D;
    transform: translateY(-30px);
}

.custom-input .error {
    height: 18px;
    margin: 0;
    padding-left: 30px;
    display: inline-block;
    line-height: 24px;
}

.custom-input input.password {
    -webkit-text-security: disc;
}

p.error {
    opacity: 0;
    transition: all .3s ease-in-out;
}

p.error.visible {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.custom-input p.counter {
    right: 0;
    padding-right: 10px;
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #F55045;
    opacity: 0.5;
    bottom: -15px;
    position: absolute;
}