<label class="{{elementClass}} custom-input" [class.text-area]="type === inputType.Textarea">
  <input *ngIf="type !== inputType.Textarea" [(ngModel)]="value" (ngModelChange)="onChange($event)" type="text" placeholder="&nbsp;" [class.password]="type === inputType.Password" [class.error]="showError">
  <textarea *ngIf="type === inputType.Textarea" [(ngModel)]="value" (ngModelChange)="onChange($event)" type="text" placeholder="&nbsp;" [class.password]="type === inputType.Password" [class.error]="showError"></textarea>
  <p class="label">{{placeholder}}</p>
  <p *ngIf="counterMinLength !== undefined && getCounterValue() > 0" class="counter">
    <span>{{getCounterValue()}}</span>
  </p>
  <p class="error" [class.visible]="showError">{{errorMessage}}</p>
</label>