<div class="profile-picture">
  <img *ngIf="backgroundImage" src="{{backgroundImage}}" width={{width}} height={{height}} />
  <div class="background" *ngIf="!backgroundImage"[ngStyle]="{backgroundColor: backgroundColor, width: width+'px', height: height+'px'}">
    <span [ngStyle]="{fontSize: fontSize ? fontSize+'px' : '15x', lineHeight: height+'px'}">{{getPictureText()}}</span>
  </div>
</div>