img {
    border-radius: 50%;
}

.background {
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

span {
    color: #000;
    opacity: 0.4;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.profile-picture {
    display: inline-block;
}