.wrapper {
    padding-bottom: 100px;
    padding-top: 80px;
}

.filter-block {
    margin-top: 5px;
}

.filter-block button {
    height: 39px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #5D5D5D;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;
    border: 2px solid #D8E2E9;
    background-color: #fff;
    margin: 0;
    margin-left: -7px;
    position: relative;
    z-index: 6;
    transition: all .1s ease-in-out;
}

.filter-block button:first-child {
    margin-left: 0px;
}

.filter-block button:hover {
    background-color: #ecf1f4;
    transition: all .1s ease-in-out;
}

.filter-block button.selected {
    background-color: #F55045;
    color: #fff;
    border: 2px solid #F55045;
    z-index: 10;

}

.filter-block button span {
    height: 17px;
    text-align: center;
    border-radius: 34px;
    background-color: #FFE226;
    box-shadow: 0px 4px 14px rgba(255, 226, 38, 0.3);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 5px;
}

.filter-block button.selected span {
    color: #F55145;
}

.right p.small {
    width: 270px;
    display: inline-block;
    background-color: #fef6f6;
    padding-left: 15px;
    padding-top: 11px;
    padding-right: 46px;
    padding-bottom: 7px;
    cursor: pointer;
    line-height: 14px;
    height: 50px;
    position: relative;
    top: -2px;
}

.right .space-block {
    display: inline-block;
    height: 40px;
}

.right p.small span.text {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #F55045;
}

.right p.small .silver-label {
    position: relative;
    top: 2.5px;
    width: 13px;
    height: 13px;
    background-size: contain;
}

#start-duel-button {
    position: relative;
    top: -10px;
    margin-left: 16px;
}

.information-block {
    border-left: 1px solid #D8E2E9;
    border-right: 1px solid #D8E2E9;
    border-bottom: 1px solid #D8E2E9;
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-clip: padding-box;
}

.information-block .information-block-border {
    height: 6px;
    width: 590px;
    margin-left: -1px;
    background-color: #F55045; 
}

.information-block:hover {
    box-shadow: 0px 20px 40px rgba(193, 199, 203, 0.2);
    transition: all .2s ease-in-out;
}

.information-block .information-block-wrapper {
    padding-left: 40px;
    padding-top: 34px;
    padding-right: 40px;
}

.information-block p {
    width: 440px;
    margin-top: 7px;
    margin-bottom: 22px;
}

.information-block .close-button {
    margin-top: 6px;
}

.information-block .close-button path {
    transition: all .1s ease-in-out;
}

.information-block .close-button:hover path {
    fill: #000;
    transition: all .1s ease-in-out;
}

.info-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../../assets/img/general/info-icon.svg") 50% 50% no-repeat;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.empty-state {
    width: 985px;
    margin: 0 auto;
    margin-top: 110px;
}

.empty-state .right {
    width: 590px;
}

.empty-state .right h2 {
    margin-top: 19px;
    margin-bottom: 16px;
}

.empty-state .right p {
    margin-bottom: 35px;
}

.duels-container {
    margin-top: 30px;
}