<app-back-to-top></app-back-to-top>
<div *ngIf="showPage" class="wrapper">
    <div class="filter-block left">
        <button [class.selected]="myDuelsService.currentStatus === duelStatus.Waiting" (click)="changeCurrentStatus(duelStatus.Waiting)">Unaccepted
            <span *ngIf="duelsAmount.waitingDuelsCount > 0">{{duelsAmount.waitingDuelsCount}}</span>
        </button>
        <button [class.selected]="myDuelsService.currentStatus === duelStatus.InProgress" (click)="changeCurrentStatus(duelStatus.InProgress)">Waiting for works
            <span *ngIf="duelsAmount.inProgressDuelsCount > 0">{{duelsAmount.inProgressDuelsCount}}</span>
        </button>
        <button [class.selected]="myDuelsService.currentStatus === duelStatus.Voting" (click)="changeCurrentStatus(duelStatus.Voting)">Voting
            <span *ngIf="duelsAmount.votingDuelsCount > 0">{{duelsAmount.votingDuelsCount}}</span>
        </button>
    </div>
    <div class="right">
        <p class="small" *ngIf="!currentUser.isPaidAccount">Unleash awesome features with
            <span class="text">Duelity Silver</span>
            <span class="silver-label"></span>
        </p>
        <div *ngIf="currentUser.isPaidAccount" class="space-block"></div>
        <a id="start-duel-button" class="button primary-button" routerLink="/start">
            <span>Start New Duel</span>
        </a>
    </div>
    <div class="clearfix"></div>
    <div *ngIf="duels !== undefined && duels.length > 0" class="duels-container">
        <div *ngIf="!authService.getCurrentUser().isHelpOff" class="duel-wrapper information-block">
            <div class="information-block-border"></div>
            <div class="information-block-wrapper">
                <div>
                    <h2 class="left">
                        <span class="info-label"></span>
                        Let us show you around
                    </h2>
                    <div class="right close-button" (click)="turnOffHelp()">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M5.87865 8.00121L0.000466347 2.12096L2.12216 1.14441e-05L7.99959 5.87952L13.877 2.8491e-05L15.9987 2.12097L10.1205 8.00121L15.9992 13.8819L13.8775 16.0029L7.99959 10.1229L2.1217 16.0029L0 13.8819L5.87865 8.00121Z"
                                fill="#5D5D5D" />
                        </svg>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>We get it, it’s confusing for new ones like you. We have a convenient page where you can learn how Duelity
                    works though!
                </p>
                <a class="button secondary-button" routerLink="/about">
                    <span>Yeah, Show Me</span>
                </a>
            </div>
        </div>
        <div *ngFor="let duel of duels" (click)="openVotePage(duel)" class="duel-wrapper">
            <app-duel [duel]="duel" [duelOwner]="currentUserId" (notify)="onNotify($event)"></app-duel>
        </div>
    </div>
    <div *ngIf="duels === undefined || duels.length === 0" class="empty-state">
        <div class="left">
            <img width="304" height="240" src="../../../assets/img/my-duels/empty-state-illustration.png">
        </div>
        <div class="right">
            <h2 *ngIf="myDuelsService.currentStatus === duelStatus.Waiting">Zero duels are waiting for acception now</h2>
            <h2 *ngIf="myDuelsService.currentStatus === duelStatus.InProgress">No duels are waiting for works now</h2>
            <h2 *ngIf="myDuelsService.currentStatus === duelStatus.Voting">No public duels for people to vote yet</h2>
            <p *ngIf="myDuelsService.currentStatus === duelStatus.Waiting">All the duels that have been sent to you or by you will appear on this tab. Finished duels can be found in your
                profile</p>
            <p *ngIf="myDuelsService.currentStatus === duelStatus.InProgress">All the duels that have been accepted by you or your opponent will appear here. You both need to upload works
                until the deadline for voting to start and for duel to become public</p>
            <p *ngIf="myDuelsService.currentStatus === duelStatus.Voting">After both you and opponent upload your works duel will become public. Voting lasts exactly 24 hours from the
                moment second work has been uploaded</p>
            <a id="start-duel-button-empty" class="button primary-button" routerLink="/start">
                <span>Find an Opponent</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>