div {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 140px;
    height: 50px;
    background: #D8E2E9 url("../../../../assets/img/back-to-top/arrow.svg") 109px 50% no-repeat;
    box-shadow: 0px 14px 34px rgba(216, 226, 233, 0.5);
    border-radius: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-left: 23px;
    color: #5D5D5D;
    z-index: 9999;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

div.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}