<div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="left user-block" [class.fixed]="isHeaderFixed" [class.selected]="isFirstUserSelected" (click)="selectUser(true)">
          <div *ngIf="!isHeaderFixed" class="unfixed-block">
            <div class="metadata">
              <app-profile-picture elementClass="x-small" fullname={{current.user.fullname}} backgroundImage={{current.user.imageUrl}}
                backgroundColor={{current.user.imageColor}}>
              </app-profile-picture>
              <h2>{{current.user.fullname}}</h2>
              <span class="rating">#{{current.rating}}</span>
            </div>
            <p class="work-description">{{current.workDescription}}</p>
            <p *ngIf="isFirstUserSelected" class="arrows-text">Use arrows
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 3C1 1.89543 1.89543 1 3 1H13C14.1046 1 15 1.89543 15 3V13C15 14.1046 14.1046 15 13 15H3C1.89543 15 1 14.1046 1 13V3ZM0 3C0 1.34315 1.34315 0 3 0H13C14.6569 0 16 1.34315 16 3V13C16 14.6569 14.6569 16 13 16H3C1.34315 16 0 14.6569 0 13V3ZM7.35355 10.6464L5.20711 8.5H12V7.5H5.20711L7.35355 5.35355L6.64645 4.64645L3.64645 7.64645C3.45118 7.84171 3.45118 8.15829 3.64645 8.35355L6.64645 11.3536L7.35355 10.6464Z"
                  fill="#5D5D5D" />
              </svg>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 3C15 1.89543 14.1046 1 13 1H3C1.89543 1 1 1.89543 1 3V13C1 14.1046 1.89543 15 3 15H13C14.1046 15 15 14.1046 15 13V3ZM16 3C16 1.34315 14.6569 0 13 0H3C1.34315 0 0 1.34315 0 3V13C0 14.6569 1.34315 16 3 16H13C14.6569 16 16 14.6569 16 13V3ZM8.64645 10.6464L10.7929 8.5H4V7.5H10.7929L8.64645 5.35355L9.35355 4.64645L12.3536 7.64645C12.5488 7.84171 12.5488 8.15829 12.3536 8.35355L9.35355 11.3536L8.64645 10.6464Z"
                  fill="#5D5D5D" />
              </svg>
              to navigate between works</p>
          </div>
          <div *ngIf="isHeaderFixed" class="fixed-block">
            <div class="metadata">
              <app-profile-picture elementClass="xx-small" fullname={{current.user.fullname}} backgroundImage={{current.user.imageUrl}}
                backgroundColor={{current.user.imageColor}}>
              </app-profile-picture>
              <h3>{{current.user.fullname}}</h3>
              <span class="rating">#{{current.rating}}</span>
            </div>
          </div>
        </div>
        <div class="right user-block" [class.fixed]="isHeaderFixed" [class.selected]="!isFirstUserSelected" (click)="selectUser(false)">
          <div *ngIf="!isHeaderFixed" class="unfixed-block">
            <div class="metadata">
              <app-profile-picture elementClass="x-small" fullname={{opponent.user.fullname}} backgroundImage={{opponent.user.imageUrl}}
                backgroundColor={{opponent.user.imageColor}}>
              </app-profile-picture>
              <h2>{{opponent.user.fullname}}</h2>
              <span class="rating">#{{opponent.rating}}</span>
            </div>
            <p class="work-description">{{opponent.workDescription}}</p>
            <p *ngIf="!isFirstUserSelected" class="arrows-text">Use arrows
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 3C1 1.89543 1.89543 1 3 1H13C14.1046 1 15 1.89543 15 3V13C15 14.1046 14.1046 15 13 15H3C1.89543 15 1 14.1046 1 13V3ZM0 3C0 1.34315 1.34315 0 3 0H13C14.6569 0 16 1.34315 16 3V13C16 14.6569 14.6569 16 13 16H3C1.34315 16 0 14.6569 0 13V3ZM7.35355 10.6464L5.20711 8.5H12V7.5H5.20711L7.35355 5.35355L6.64645 4.64645L3.64645 7.64645C3.45118 7.84171 3.45118 8.15829 3.64645 8.35355L6.64645 11.3536L7.35355 10.6464Z"
                  fill="#5D5D5D" />
              </svg>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 3C15 1.89543 14.1046 1 13 1H3C1.89543 1 1 1.89543 1 3V13C1 14.1046 1.89543 15 3 15H13C14.1046 15 15 14.1046 15 13V3ZM16 3C16 1.34315 14.6569 0 13 0H3C1.34315 0 0 1.34315 0 3V13C0 14.6569 1.34315 16 3 16H13C14.6569 16 16 14.6569 16 13V3ZM8.64645 10.6464L10.7929 8.5H4V7.5H10.7929L8.64645 5.35355L9.35355 4.64645L12.3536 7.64645C12.5488 7.84171 12.5488 8.15829 12.3536 8.35355L9.35355 11.3536L8.64645 10.6464Z"
                  fill="#5D5D5D" />
              </svg>
              to navigate between works</p>
          </div>
          <div *ngIf="isHeaderFixed" class="fixed-block">
            <div class="metadata">
              <app-profile-picture elementClass="xx-small" fullname={{opponent.user.fullname}} backgroundImage={{opponent.user.imageUrl}}
                backgroundColor={{opponent.user.imageColor}}>
              </app-profile-picture>
              <h3>{{opponent.user.fullname}}</h3>
              <span class="rating">#{{opponent.rating}}</span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body" [class.fixed]="isHeaderFixed">
        <img *ngFor="let imageUrl of currentImages" src="{{imageUrl.url}}">
      </div>
      <div class="footer-block"></div>
    </div>
  </div>