.modal-dialog {
    max-width: 100%;
    margin-top: 30px;
}

.modal-content {
    width: 1200px;
    display: block;
    margin:0 auto;
}

.modal-header {
    border-bottom: 0;
    padding: 0;
}

.modal-body img {   
    width: 100%;
}

.modal-body {
    padding: 0;
}

.modal-body.fixed {
    max-height: 85vh;
    overflow-y: auto;
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}

.modal-body::-webkit-scrollbar { 
    width: 0 !important 
}

.modal-header .user-block {
    width: 100%;
    cursor: pointer;
    border-top: 6px solid transparent;
}

.modal-header .user-block .metadata h2 {
    position: relative;
    top: 4px;
    margin-left: 10px;
}

.modal-header .user-block .metadata span.rating {
    position: relative;
    top: 2px;
    margin-left: 3px;
}

.modal-header .user-block .work-description {
    margin-top: 19px;
    word-break: break-all;
}

.modal-header .user-block .arrows-text {
    opacity: .5;
    position: absolute;
    bottom: 0;
}

.modal-header .user-block .arrows-text svg:first-child {
    position: relative;
    right: -1.5px;
}

.modal-header .user-block .arrows-text svg:last-child {
    position: relative;
    right: 1.5px;
}

.modal-header .user-block .metadata * {
    display: inline-block;
}

.modal-header .user-block > div.unfixed-block {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.modal-header .user-block > div.fixed-block {
    padding: 16px;
    padding-top: 14px;
}

.modal-header .user-block > div.fixed-block h3 {
    margin-left: 3px;
}

.modal-header .user-block {
    background-color: #D8E2E9;
    opacity: 0.3;
    border-top: 6px solid transparent;
    position: relative;
    padding-bottom: 20px;
}

.modal-header .user-block.selected {
    background-color: #ffffff;
    opacity: 1;
    border-top: 6px solid #F55045;
}

.modal-header .user-block.selected {
    background-color: #ffffff;
    opacity: 1;
    border-top: 6px solid #F55045;
}

.modal-header .user-block.fixed {
    border-top: 3px solid transparent;
}

.modal-header .user-block.fixed.selected {
    border-top: 3px solid #F55045;
}

.modal-header .user-block .rating {
    font-family: Menoe Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #C1C7CB;
}

.modal-header .user-block-front {
    background-color: #D8E2E9;
    opacity: 0.3;
    visibility: hidden;
}

.modal-header .user-block-front.visible {
    visibility: visible;
}